@import "../variables";

// --------------------------------------------------
// Button Component
// --------------------------------------------------

// CSS rule order
// --------------------

// 1. Variables
// 2. Box model properties
// 3. Display and position
// 4. Background
// 5. Border
// 6. Box shadow
// 7. Text
// 8. Transforms
// 9. Other

$button__border-width: 2px;

.button--primary,
.button {
  padding: $spacing__s $spacing__l;
  margin-right: $spacing__s;
  display: inline-flex;
  background: $color__c4-button-blurple;
  border: $button__border-width solid $color__c4-button-blurple;
  border-radius: $border-radius__m;
  color: $color__white;
  font-weight: 500 !important; // These could be inherited from copy/text styles
  text-decoration: none !important; // These could be inherited from copy/text styles
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;

  @include accessible-animation {
    transition: background 0.2s ease-in-out;
  }

  &:hover {
    background: $color__c4-logo-blurple;
    border-color: $color__c4-logo-blurple;
    color: $color__white;
  }
}

.button--secondary {
  background: transparent;
  border: 2px solid $color__c4-button-blurple;
  border-color: $color__c4-button-blurple;
  color: $color__white;

  &:hover {
    background: $color__c4-button-blurple;
    color: $color__white;
  }
}
