@import "../variables";

// --------------------------------------------------
// Contest Tile Component
// --------------------------------------------------

// CSS rule order
// --------------------

// 1. Variables
// 2. Box model properties
// 3. Display and position
// 4. Background
// 5. Border
// 6. Box shadow
// 7. Text
// 8. Transforms
// 9. Other

$contest-tile__logo-container-width: 100px;
$contest-tile__border: 1px solid rgba($color__white, 0.4);
$contest-tile__background: linear-gradient(
  180deg,
  rgba($color__white, 0.1) 0%,
  rgba($color__white, 0.05) 100%
);

.contest-tile {
  margin-bottom: $spacing__m;
  display: flex;
  flex-direction: column;
  background: $contest-tile__background;
  border: $contest-tile__border;
  border-radius: $border-radius__m;

  @include breakpoint("s") {
    flex-direction: row;
    margin-bottom: $spacing__l;
  }
}

// Logo area
// --------------------

.contest-tile__left-side {
  padding: $spacing__m $spacing__m 0;

  @include breakpoint("s") {
    flex-shrink: 0;
    flex-direction: row;
    padding: 0;
    width: $contest-tile__logo-container-width;
  }
}

.contest-tile__left-side .sponsor-link {
  width: $contest-tile__logo-container-width;
  padding: $spacing__s;
}

// Content area
// --------------------

.contest-tile__right-side {
  flex: 1;
  border-left: 0;
  @include breakpoint("s") {
    border-left: $contest-tile__border;
  }
}

.contest-tile__right-top {
  margin: $spacing__s $spacing__m $spacing__m $spacing__m;
  display: flex;
  justify-content: space-between;
  @include breakpoint("s") {
    margin: $spacing__m $spacing__l $spacing__l $spacing__l;
  }
}

// Contest amount
// --------------------

.contest-tile__amount {
  font-weight: 500;
  text-align: right;
}

// Contest time
// --------------------

.contest-tile__time-wrapper {
  display: flex;

  li {
    margin-right: $spacing__s;
  }
}

// Contest title
// --------------------

.contest-tile__title {
  font-size: $headline-font-size__xxs;
  font-weight: 500;
  margin-top: 0;

  @include breakpoint("s") {
    font-size: $headline-font-size__xs;
  }
}

// Contest buttons and live indicator

.contest-tile__right-bottom {
  padding: $spacing__s $spacing__m;
  display: flex;
  justify-content: space-between;
  border-top: $contest-tile__border;
  @include breakpoint("s") {
    padding: $spacing__s $spacing__l;
  }
}
