@import "../variables";

// --------------------------------------------------
// Contest Tile Component
// --------------------------------------------------

// CSS rule order
// --------------------

// 1. Variables
// 2. Box model properties
// 3. Display and position
// 4. Background
// 5. Border
// 6. Box shadow
// 7. Text
// 8. Transforms
// 9. Other

$contest-tile__logo-container-width: 90px;
$contest-tile__border: 1px solid rgba($color__white, 0.4);
$contest-tile__background: linear-gradient(
  180deg,
  rgba($color__white, 0.1) 0%,
  rgba($color__white, 0.05) 100%
);
$contest-amount__background: linear-gradient(
  45deg,
  rgba($color__white, 0.1) 0%,
  rgba($color__white, 0.05) 100%
);

$contest-tile--solid__border: 1px solid $color__n-60;
$contest-tile--solid__background: $color__n-90;

.contest-tile {
  margin-bottom: $spacing__m;
  display: flex;
  flex-direction: column;
  background: $contest-tile__background;
  border: $contest-tile__border;
  border-radius: $border-radius__m;

  @include breakpoint("s") {
    margin-bottom: $spacing__l;
  }
}

.contest-tile__top {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  @include breakpoint("s") {
    padding: $spacing__m $spacing__l;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contest-tile__logo-details-wrapper {
  display: flex;
}

// Contest amount
// --------------------

.contest-tile__amount {
  padding: $spacing__s $spacing__m;
  background: $contest-amount__background;
  border-bottom: $contest-tile__border;
  color: $color__white;
  font-weight: 500;
  text-align: right;
  font-size: $headline-font-size__xxs;

  @include breakpoint("s") {
    font-size: $headline-font-size__xs;
    padding: $spacing__xs 0 $spacing__m $spacing__m;
    justify-content: flex-start;
    background: none;
    border-bottom: none;
  }
}

// Logo area
// --------------------

.contest-tile__logo {
  width: calc($contest-tile__logo-container-width * 0.7);
  margin-right: $spacing__m;
  @include breakpoint("s") {
    flex-shrink: 0;
    padding: 0;
    width: $contest-tile__logo-container-width;
  }
}

.contest-tile__logo .sponsor-link {
  width: calc($contest-tile__logo-container-width * 0.7);
  @include breakpoint("s") {
    width: $contest-tile__logo-container-width;
  }
}

// Content area
// --------------------

.contest-tile__content {
  display: flex;
  padding: $spacing__m;
  @include breakpoint("s") {
    padding: 0;
    max-width: 40rem;
  }
}

// Contest title
// --------------------

.contest-tile__title {
  font-size: $headline-font-size__xxs;
  font-weight: 500;
  margin-top: 0;

  @include breakpoint("s") {
    font-size: $headline-font-size__xs;
  }
}

// Contest time
// --------------------

.contest-tile__time-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: $spacing__s;

  @include breakpoint("xs") {
    flex-direction: row;
    align-items: center;
  }
}

.contest-tile__days-duration {
  margin-right: $spacing__s;

  &::after {
    content: "";
    @include breakpoint("xs") {
      content: "â¯";
      margin-left: $spacing__s;
    }
  }
}

.contest-tile__countdown {
  display: flex;
  font-size: $font-size__text;
  align-items: center;
  justify-content: center;

  > div {
    margin-left: $spacing__xs;
  }
}

// Contest buttons and live indicator
// --------------------

.contest-tile__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: $contest-tile__border;
  @include breakpoint("xs") {
    flex-direction: row;
  }
}

.contest-tile__button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  @include breakpoint("xs") {
    width: auto;
    justify-content: center;
  }

  a {
    width: 33%;
    padding: $spacing__s $spacing__m;
    color: $color__white;
    text-align: center;
    border-left: $contest-tile__border;

    @include breakpoint("xs") {
      width: auto;
    }
    &:hover {
      background: rgba($color__white, 0.1);
    }
    &:first-of-type {
      border-left: 0;
      @include breakpoint("xs") {
        border-left: $contest-tile__border;
      }
    }
  }
}

.contest-tile__status-indicator {
  width: 100%;
  border-bottom: $contest-tile__border;
  @include breakpoint("xs") {
    width: auto;
    border-bottom: 0;
  }
}

.contest-tile__status-indicator-text {
  display: flex;
  align-items: center;
  align-self: center;
  padding: $spacing__s $spacing__m;
  &:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: $spacing__s;
    background: $color__white;
  }
}

.contest-tile__status-indicator-text--active {
  color: $color__white;
  &:before {
    background: $color__green;
  }
}

.contest-tile__status-indicator-text--soon {
  color: $color__white;
}

.contest-tile__status-indicator-text--completed {
  &:before {
    display: none;
  }
}

// Theme: Solid
// --------------------------------------------------

@mixin contest-tile--solid {
  background: $contest-tile--solid__background;
  border: $contest-tile--solid__border;
  .contest-tile__button-wrapper {
    a {
      border-left: $contest-tile--solid__border;
    }

    .contest-tile__amount {
      background: none;
      border-bottom: $contest-tile--solid__border;
    }
  }

  .contest-tile__bottom {
    border-top: $contest-tile--solid__border;
  }
}
