@import "../variables";

// --------------------------------------------------
// Dropdown Component
// --------------------------------------------------

// CSS rule order
// --------------------

// 1. Variables
// 2. Box model properties
// 3. Display and position
// 4. Background
// 5. Border
// 6. Box shadow
// 7. Text
// 8. Transforms
// 9. Other

.Dropdown__Wrapper {
  position: relative;
}

.Dropdown__DropdownListContainer {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 300ms;
  width: 260px;
  background: transparent;
  padding-top: 15px;
  transform: translateY(-15px);
  z-index: -1;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.Dropdown__Open {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
  }
}

.Dropdown__DropdownList {
  background: var(--dark-purple);
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown__button {
  @include button;
  color: #fff;
  background: var(--dark-purple);
  text-align: left;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  font-weight: normal;
  text-transform: none;

  &:hover {
    background: var(--main-purple);
    color: white;
  }
}

.Dropdown__DropdownIcon {
  stroke: currentColor;
  fill: currentColor;
  display: inline-flex;
  padding: 0;
  margin-left: 5px;
  &:hover {
    box-shadow: none;
  }

  &.Dropdown__Open {
    transform: rotate(-180deg);
    transition: transform 150ms ease;
  }
}
