.Form {
  background-color: white;
  color: #444;
  max-width: 700px;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid #eee;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  @media (prefers-color-scheme: dark) {
    background-color: black;
    color: #ccc;
    border-color: #443658;
  }

  & h1 {
    color: inherit;
    text-align: center;
  }
}

.Button {
  font-family: inherit;
  display: block;
  padding: 10px;
  width: 200px;
  margin: 10px auto;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  @media (prefers-color-scheme: dark) {
    background-color: black;
    color: #fff;
    border: 1px solid #fff;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
