.Form {
  color-scheme: dark;
  background-color: var(--secondary-background-purple);
  color: #ccc;
  max-width: 700px;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid var(--border-lightest-background);
  border-radius: 10px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  & h1 {
    text-align: center;
  }
}

.Button {
  font-family: inherit;
  margin: 10px;

  &:disabled {
    opacity: 0.3;
  }

  &:disabled:hover {
    cursor: not-allowed;
  }
}

.ButtonsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
