.Form {
  color-scheme: dark;
  background-color: var(--secondary-background-purple);
  color: #ccc;
  max-width: 930px;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid var(--border-lightest-background);
  border-radius: 10px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.FormSmall {
  max-width: 700px;
}

.Heading1 {
  font-size: 36px;
  text-align: center;
}

.Heading2 {
  font-size: 24px;
  text-align: center;
}

.Heading3 {
  font-size: 20px;
}

.Heading4 {
  font-size: 16px;
  text-transform: uppercase;
}

.FormHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  position: relative;
}

.FormIconButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
}

.FormIcons {
  height: 20px;
  width: 20px;
  cursor: pointer;
  filter: brightness(0) invert(1);
  transition: all 0.2s ease-out;
  position: absolute;
  &:hover {
    transform: scale(1.1);
  }
  top: 0;
  right: 0;
}

.Button {
  font-family: inherit;
  margin: 10px;
  display: flex;
  align-items: center;

  &:disabled {
    opacity: 0.3;
  }

  &:disabled:hover {
    cursor: not-allowed;
  }
}

.ButtonsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Icon {
  margin-right: 10px;
  height: 20px;
}

.DividingLine {
  margin: 20px -40px;
  height: 0;
  border-top: 2px solid var(--border-lightest-background);
}

.EmphasizedInputGroup {
  margin: 20px -40px;
  padding: 30px 45px;
  border: none;
  border-top: 2px solid var(--border-lightest-background);
  border-bottom: 2px solid var(--border-lightest-background);
  background: var(--header-background-purple);
}

.EmphasizedInputGroup p {
  font-size: 13px;
}

.List {
  padding: 0 0 0 10px;
  list-style: none;
}
