@import "../../variables";

// --------------------------------------------------
// Bot Registration Page
// --------------------------------------------------

// CSS rule order
// --------------------

// 1. Variables
// 2. Box model properties
// 3. Display and position
// 4. Background
// 5. Border
// 6. Box shadow
// 7. Text
// 8. Transforms
// 9. Other

.register-bot__top-text-container {
  margin-bottom: $spacing__xl;
  display: flex;
  flex-direction: column;

  @include breakpoint("m") {
    flex-direction: row;
    justify-content: space-between;
  }
}

.register-bot__top-text {
  margin-bottom: $spacing__m;

  @include breakpoint("m") {
    margin-bottom: 0;
  }
}

.register-bot__top-image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  @include breakpoint("m") {
    margin: 0;
  }
}

.register-bot__stage-container {
  margin: $spacing__m 0;
  border: 1px solid $color__n-60;
  border-radius: $border-radius__m;

  @include breakpoint("m") {
    margin: $spacing__xxl 0;
  }

  h2 {
    div {
      font-size: $headline-font-size__xxs;
    }
  }

  h3 {
    font-size: $headline-font-size__xxs;
  }
}

.register-bot__stage-one-text {
  margin-right: 0;
  border-bottom: 1px solid $color__n-60;
  @include breakpoint("m") {
    margin-right: $spacing__m;
  }
}

.register-bot__stage-one-text,
.register-bot__stage-two-text {
  width: 100%;
  padding: $spacing__l $spacing__l 0;
  display: flex;
  flex-direction: column;

  @include breakpoint("m") {
    flex-direction: row;

    h2 {
      min-width: 21rem;
    }
  }

  ul {
    list-style: none;

    li:before {
      content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $color__blurple-60; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
  }
}

.register-bot__coming-soon {
  // width: max-content;
  margin: $spacing__l auto;
  padding: $spacing__l $spacing__l;
  font-weight: bold;
  color: $color__n-5;
  background: $color__n-80;
  border-radius: $border-radius__m;
}
