@import "../../variables";

// --------------------------------------------------
// Bot Registration Page
// --------------------------------------------------

// CSS rule order
// --------------------

// 1. Variables
// 2. Box model properties
// 3. Display and position
// 4. Background
// 5. Border
// 6. Box shadow
// 7. Text
// 8. Transforms
// 9. Other

.register-bot__top-text-container {
  margin-bottom: $spacing__xl;
  display: flex;
  flex-direction: column;

  @include breakpoint("m") {
    flex-direction: row;
    justify-content: space-between;
  }
}

.register-bot__top-text {
  margin-bottom: $spacing__m;

  @include breakpoint("m") {
    margin-bottom: 0;
  }
}

.register-bot__top-image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  @include breakpoint("m") {
    margin: 0;
  }
}

.register-bot__stage-container {
  margin: 0 0 $spacing__m;

  @include breakpoint("m") {
    margin: 0;
  }

  h2 {
    margin-bottom: $spacing__l;
  }

  h3 {
    font-size: $headline-font-size__xxs;
  }
}

.register-bot__stage-one-text {
  margin-right: 0;
  @include breakpoint("m") {
    margin-right: $spacing__m;
  }
}

.register-bot__stage-one-text,
.register-bot__stage-two-text {
  display: flex;
  flex-direction: column;

  @include breakpoint("m") {
    flex-direction: row;

    h2 {
      min-width: 20rem;
    }
  }
}

.register-bot__coming-soon {
  width: max-content;
  padding: $spacing__xxs $spacing__s;
  border: 1px solid $color__n-60;
}
