:root {
  --main-purple: #792cda;
  --light-purple: #cdbef4;
  --light-blue: #5cb8ff;
  --hot-blue: #1a4bff;
  --blue: #361ee0;
  --dark-purple: #4a00b1;
  --hot-pink: #ff108b;
  --orange: #ff4000;

  --header-background-purple: #1a0c3e;
  --background-purple: #160f29;
  --secondary-background-purple: #291d4d;
  --tertiary-background-purple: #433d55;
  --lightest-background-purple: #50426c; /* use white text */

  --border-lightest-background: #71678a; /* border color. use with lightest background purple */

  --text-headers: #fff;
  --text-white: #fff;
  --text-normal: #ffffffcc; /* cc = 80% */

  /* these rgb color values should be identical to their pairs above */
  /* use these to change opacity like this: `rgba(var(--main-purple-rgb), 0.8)` */
  --main-purple-rgb: 121, 44, 218;

  --page-margin: 40px;
  --page-margin-mobile: 8px;

  --font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

html {
  color-scheme: light dark;
}

body {
  background-color: var(--background-purple);
  padding: 0;
  margin: 0;
}

main {
  margin: var(--page-margin-mobile);
}

@media (min-width: 600px) {
  main {
    margin: var(--page-margin);
  }
}

section {
  margin: 80px 0;
}

section:first-of-type {
  margin-top: 0;
}

h1 {
  color: var(--text-headers);
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: var(--text-headers);
  font-family: "Roboto", sans-serif;
}

h2 code {
  font-family: inherit;
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

h4 {
  color: var(--text-headers);
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  font-weight: 200;
}

h4 a {
  font-weight: 800;
}

h5 {
  font-size: 30px;
  color: var(--text-headers);
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin: 0 0 20px 0;
}

article {
  max-width: 800px;
  line-height: 1.3;
  margin: 100px auto;
}

article p,
article li,
article blockquote {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  color: var(--text-normal);
}

article li {
  margin-bottom: 10px;
}

article h1 {
  font-size: 40px;
}

article h2 {
  margin-top: 60px;
  color: var(--text-headers);
  border-bottom: 1px solid var(--secondary-background-purple);
  padding-bottom: 10px;
  text-transform: uppercase;
  font: 1.4rem "Space Mono", monospace;
}

/* article h2::before {
  content: "> ";
} */

article h3 {
  margin-top: 40px;
  color: var(--text-headers);
  font: 1.2rem "Space Mono", monospace;
}

p,
li {
  color: var(--text-normal);
  font-family: "Roboto", sans-serif;
}

li span {
  color: #fff;
}
li span::before {
  content: "(";
  color: var(--text-normal);
}
li span::after {
  content: ")";
  color: var(--text-normal);
}

ul {
  margin-bottom: 30px;
}

code {
  font-family: "Roboto Mono", monospace;
  color: var(--text-white);
  background: var(--lightest-background-purple);
  border: 1px solid var(--border-lightest-background);
  padding: 1px 8px;
  margin: 1px;
  border-radius: 4px;
  font-size: 0.8em;
  display: inline-block;
}

.grvsc-code {
  background-color: transparent;
  border: none;
}

h2 code {
  color: #fff;
}

pre {
  overflow-x: auto;
}

pre::-webkit-scrollbar {
  height: 10px;
}

pre::-webkit-scrollbar-track {
  border: none;
  background-color: var(--border-lightest-background);
}

pre::-webkit-scrollbar-thumb {
  background-color: var(--light-purple);
  height: 5px;
}

pre code {
  font-size: 0.9em;
  padding: 30px 20px;
  margin: 0;
  min-width: 100%;
  box-sizing: border-box;
}

strong {
  color: #ffffff;
  font-weight: normal;
}

a {
  color: #fff;
}

a:hover {
  color: var(--light-purple);
}

p a:hover,
li a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
blockquote a:hover {
  color: var(--light-purple);
}

h1.page-header {
  font-size: 40px;
  margin-top: 40px;
  padding-top: 40px;
  text-align: center;
}

.wrapper-main {
  vertical-align: bottom;
  max-width: 1200px;
  margin: 20px auto;
  line-height: 1.5;
}

iframe {
  color-scheme: light;
}

.button-div {
  background-color: transparent;
  border: none;
}

@media (max-width: 600px) {
  body {
    margin: 0;
  }

  body h1 {
    font-size: 32px;
  }

  .wrapper-main {
    margin: 0;
  }

  section {
    margin: 80px 0;
  }

  h5 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 740px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  h1.page-header {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
  }
}
