html {
  color-scheme: light dark;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

body::after {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.13),
      rgba(255, 255, 255, 0.13) 1px,
      rgba(50, 05, 50, 0.15) 1px,
      1px,
      rgba(50, 50, 50, 0.15) 2px
    ),
    linear-gradient(
      167deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 60%,
      rgba(51, 0, 101, 1) 100%
    );
}

main {
  margin: 10px;
}

@media (min-width: 1024px) {
  main {
    margin: 40px;
  }
}

section {
  margin: 80px 0;
}

section:first-of-type {
  margin-top: 0;
}

h1 {
  color: white;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: white;
}

h2 code {
  font-family: inherit;
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

h4 {
  color: #fff;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  font-weight: 200;
}

h4 a {
  font-weight: 800;
}

h5 {
  font-size: 30px;
  color: #fff;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin: 0 0 20px 0;
}

article {
  max-width: 800px;
  line-height: 1.3;
  margin: 100px auto;
}

article p,
article li,
article blockquote {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

article li {
  margin-bottom: 10px;
}

article h1 {
  font-size: 40px;
}

article h2 {
}

article h3 {
}

article h4 {
}

article h5 {
}

article h2 {
  margin-top: 60px;
  color: #fff;
  border-bottom: 1px solid #443658;
  padding-bottom: 10px;
  text-transform: uppercase;
  font: 1.4rem "Space Mono", monospace;
}

/* article h2::before {
  content: "> ";
} */

article h3 {
  margin-top: 40px;
  color: #fff;
  font: 1.2rem "Space Mono", monospace;
}

p,
li {
  color: #ffffffaa;
  font-family: "Roboto", sans-serif;
}

li span {
  color: #fff;
}
li span::before {
  content: "(";
  color: #ffffff33;
}
li span::after {
  content: ")";
  color: #ffffff33;
}

ul {
  margin-bottom: 30px;
}

code {
  font-family: "Roboto Mono", monospace;
  color: white;
  background: #443b4e;
  border: 1px solid #625b6a;
  padding: 1px 8px;
  margin: 1px;
  border-radius: 4px;
  font-size: 0.8em;
  display: inline-block;
}

h2 code {
  color: #fff;
}

pre {
  overflow-x: auto;
}

pre::-webkit-scrollbar-track {
  border: none;
  background-color: #645b6f;
}

pre::-webkit-scrollbar {
  width: 10px;
  background-color: #645b6f;
}

pre::-webkit-scrollbar-thumb {
  background-color: #aca3b5;
  width: 5px;
}

pre code {
  font-size: 0.9em;
  padding: 30px 20px;
  margin: 0;
  min-width: 100%;
  box-sizing: border-box;
}

strong {
  color: #ffffff;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: #ff4000;
}

p a:hover,
li a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
blockquote a:hover {
  border-bottom: 1px solid #ff4000;
}

h1.page-header {
  font-size: 40px;
  margin-top: 40px;
  padding-top: 40px;
  text-align: center;
}

.wrapper-main {
  vertical-align: bottom;
  max-width: 1200px;
  margin: 20px auto;
  line-height: 1.5;
}

iframe {
  color-scheme: light;
}

@media (max-width: 600px) {
  body {
    background-color: black;
    background-image: none;
    margin: 0;
  }

  h1 {
    font-size: 32px !important;
  }

  .wrapper-main {
    margin: 10px;
  }

  section {
    margin: 80px 0;
  }

  h5 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
