@import "variables";

// File instructions
// -----------------
// This file contains all the type rules for the site. It is imported by
// `base-layout.scss` and should not be imported anywhere else.

@font-face {
  font-family: "Satoshi Variable";
  src: url("./fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./fonts/Satoshi-Variable.woff") format("woff"),
    url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

// [Tip] Only set type rules here. For all other things `body`, check `base-layout`.
body {
  font-family: $font-family;
  font-size: 100%; // Set by the user's stylesheet. Assumed to be 16px.
  line-height: 150%;
}

// Type classes
// ------------------------------------------------

// Copy
// -----------------
// This is the default type style for the site. It is used for most of the copy.
// Adding a class of `type--copy` to a parent element will apply these styles.

.type--copy {
  font-size: 1.2rem;
  font-family: $font-family;
  font-weight: 500;
  line-height: 150%;
}
.type--copy-p,
.type--copy p {
  margin-bottom: 1.5em;
}
.type--copy--bold,
.type--copy strong {
  font-weight: 700;
}
.type--copy--inline-link,
.type--copy a {
  font-weight: 700;
  text-decoration: underline;
}
.type--copy--inline-code,
.type--copy code {
  padding: 0.1em 0.3em;
  border-radius: 0.2em;

  background-color: $color--n-80;
  color: $color--n-10;

  font-family: $font-family-code;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: inherit;
}

// Text
// -----------------
// This is the type style for the product. It's slightly smaller than the copy.
// Adding a class of `type--text` to a parent element will apply these styles.

.type--text {
  font-size: 1rem;
  font-family: $font-family;
  font-weight: 500;
  line-height: 130%;
}
.type--text-bold,
.type--text strong {
  font-weight: 700;
}
.type--text-inline-link,
.type--text a {
  font-weight: 700;
  text-decoration: underline;
}
.type--text-inline-code,
.type--text code {
  font-family: $font-family-code;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: inherit;
  background-color: $color--n-80;
  color: $color--n-10;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}

// Small
// -----------------

.type--small,
small {
  font-size: 0.933rem;
  font-family: $font-family;
  font-weight: 500;
  font-style: normal;
  line-height: 145%;
}
.type--small-bold,
.type--small strong {
  font-weight: 700;
}
.type--small-inline-link,
.type--small a {
  font-size: 0.933rem;
  font-weight: 700;
  text-decoration: underline;
}
.type--small-inline-code,
.type--small code {
  font-size: 0.933rem;
  font-family: "PT Mono";
  font-weight: 400;
  font-style: normal;
  line-height: 145%;
  background-color: $color--n-80;
  color: $color--n-10;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}

// Headings
// ------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 700;
  margin-top: 0.25em;
  margin-bottom: 0.4em;
}

// [Tip] When using headlines, use the `type--` classes instead of the `h` tags.
.type--xl-headline,
h1 {
  font-size: 3.467rem;
  line-height: 115%;
}
.type--l-headline,
h2 {
  font-size: 3.067rem;
  line-height: 115%;
}
.type--m-headline,
h3 {
  font-size: 2.533rem;
  line-height: 120%;
}
.type--s-headline,
h4 {
  font-size: 1.867rem;
  line-height: 120%;
}
.type--xs-headline,
h5 {
  font-size: 1.6rem;
  line-height: 120%;
}
.type--xxs-headline,
h6 {
  font-size: 1.333rem;
  line-height: 130%;
}

// Heroes
// ------------------------------------------------

.type--hero-headline {
  font-size: 4.533rem;
  font-family: $font-family;
  font-weight: 700;
  font-style: normal;
  line-height: 115%;
  text-decoration: none;
  text-transform: none;
}
.type--hero-sub {
  font-size: 3.067rem;
  font-family: $font-family;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}

// Code
// ------------------------------------------------

code:has(pre) {
  font-family: $font-family-code;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  background-color: $color--n-80;
  color: $color--n-10;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}
