.button {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(116, 116, 116, 0);
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  width: auto;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 0.25rem 0.5rem 0.25rem 0;
  background-color: var(--main-purple);
  cursor: pointer;
}

.button-medium {
  padding: 0.8em 2.5em;
}

.button-small {
  font-size: 0.9em;
  padding: 0.6em 2.5em;
}

.cta-button {
  color: #fff;
  text-transform: uppercase;
  transition: 0.2s ease-out;
  box-shadow: inset 0 0 0 0 var(--main-purple);
}

.cta-button.primary {
  background-color: var(--main-purple);
}

.button:hover,
.cta-button.primary:hover {
  background-color: rgba(var(--main-purple-rgb), 0.8);
  color: #fff;
  box-shadow: inset 0px 0px 0px 2px #fff;
}

.cta-button.secondary {
  background-color: transparent;
  color: #fff;
  box-shadow: inset 0px 0px 0px 2px #fff;
}

.cta-button.secondary:hover {
  background-color: var(--main-purple);
}

.cta-button.danger {
  background-color: transparent;
  color: #fff;
  box-shadow: inset 0px 0px 0px 2px var(--hot-pink);
}

.cta-button.danger:hover {
  background-color: var(--hot-pink);
}
