:root {
  --contest-page-width: 1100px;
}

.contests-page,
.contest-page {
  background-image: radial-gradient(
    1000px 1000px at top center,
    #8424e212 50%,
    rgba(132, 36, 226, 0) 100%
  );
  background-repeat: no-repeat;
}

.contest-page main {
  margin: 0; /* remove margins so we can use full-width backgrounds for sections. TODO: make this treatment the default */
}

.contest-page section {
  margin-top: 50px;
}

.contest-wrapper {
  margin: 10px auto;
  padding: 20px var(--page-margin-mobile);
  max-width: var(--contest-page-width);
}

.contest-tippy-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contest-artwork {
  --art-height: 100px;
  --art-border-radius: 10px;
  --art-transition: all 0.2s ease-out;

  background-color: var(--secondary-background-purple);
  background-repeat: no-repeat;
  background-position: 0, -50%;
  border-radius: var(--art-border-radius);
  height: var(--art-height);
  width: 100%;
  max-width: var(--contest-page-width);
  transition: var(--art-transition);
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  background-size:cover!important; 
}

.contest-page .contest-artwork:hover {
  height: calc(var(--art-height) + 5px);
}

.contest-page .contest-artwork:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-background-purple);
  border-radius: var(--art-border-radius);
  opacity: 0.2;
  transition: var(--art-transition);
}

.contest-page .contest-artwork:hover:after,
.contest-page .contest-artwork.open:after {
  opacity: 0;
}

.contest-page .contest-artwork.open {
  height: auto;
  padding-bottom: 56.25%;
  background-position: 0, 0;
}

.contest-page .header-live {
}

.contest-page .header-live:before {
  content: "LIVE";
  font-size: 0.44em;
  letter-spacing: 0.1em;
  border: 2px solid var(--hot-pink);
  padding: 0.2em 0.8em;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 var(--hot-pink);
  text-shadow: 0 0 10px var(--hot-pink);
  margin: 0 1em 0 0;
  display: inline-block;
  transform: translate(0, -0.5em);
}

.contest-page .top-section {
  display: flex;
  align-content: center;
  margin-top: 0px;
}

.contest-page .sponsor-image {
  /* transform: translate(10px, -55px); */
  margin-right: 40px;
  flex: none;
}

.contest-page .sponsor-image a {
  display: block;
}

.contest-page .sponsor-image img {
  border-radius: 50%;
  border: 5px solid white;
  background: white;
}

.contest-page .top-section-text {
  flex-grow: 1;
  order: 1;
}

.contest-page .top-section-text h1 {
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 500;
  font-size: 30px;
}

.contest-page .top-section-text p {
  margin-top: 0;
  padding-top: 5px;
  margin-bottom: 15px;
  line-height: 140%;
}

.contest-page .top-section-amount {
  margin-right: auto;
  padding-left: 2em;
  text-align: right;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  order: 2;
}

.contest-page .top-section-amount p {
  margin-bottom: 5px;
  margin-top: 0;
}

.contest-page .top-section-amount p:first-of-type {
  color: white;
  white-space: nowrap;
}

.contest-page .top-section-amount p:last-of-type {
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
}

.contest-page .contest-tabs .react-tabs__tab-list {
  max-width: var(--contest-page-width);
  margin: 0 auto;
}

/*******************************/
/***** Tab content styling *****/
/*******************************/

.contest-tabs {
  font-family: "Roboto", sans-serif;
  line-height: 140%;
  color: white;
}

.contest-tabs article {
  margin: 40px auto;
}

.contest-tabs svg.octicon {
  fill: white;
  margin-right: 10px;
}

.contest-tabs h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 120%;
}

.contest-tabs h2 {
  font-size: 20px;
  line-height: 120%;
}

.contest-tabs hr {
  border: 1px solid var(--border-lightest-background);
  margin: 60px 0;
  opacity: 0.5;
}

.faq-tab-content .header-context {
  margin-bottom: 0;
}

.faq-tab-content .header-context + p {
  margin-bottom: 3em;
}

.faq-tab-content a::after {
  content: " →";
}

.faq-tab-content li {
  margin-bottom: 10px;
}

.faq-tab-content li ul {
  margin-top: 10px;
}

.contest-tabs .coming-soon {
  margin: 0 auto;
  text-align: center;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.contest-tabs .coming-soon img {
  align-self: center;
  max-width: 100px;
  width: 100%;
  margin-top: 1em;
}

.contest-tabs .coming-soon h1 {
  font-size: 23px;
}

.contest-tabs .coming-soon p {
  margin: 0;
}

.contest-tabs .coming-soon .countdown h5 {
  justify-content: center;
}

/* TODO: Find out why this media query doesn't fire until +15 pixels off
- Happens in Chrome and Firefox
- It's not zoom, and it's not an initial device scale issue
- All other media queries are fine
- Nothing to do with the cascade */

@media only screen and (max-width: 965px) {
  .contest-page .contest-tippy-top {
    flex-direction: column-reverse;
  }
  .contest-page .contest-tippy-top .countdown {
    align-self: flex-start;
  }
  .contest-page .contest-tippy-top p {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .contest-page .top-section {
    flex-direction: column;
    text-align: center;
  }

  .contest-page .days-duration {
    font-size: 13px;
  }

  .contest-page .sponsor-image {
    display: inline;
    text-align: center;
    margin: -25px auto 10px;
    z-index: 1;
    pointer-events: none;
  }

  .contest-page .sponsor-image a {
    display: inline;
    pointer-events: auto;
  }

  .contest-page .contest-artwork-wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .contest-page .top-section {
    padding-top: 0;
  }

  .contest-page .button-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto 1em;
  }

  .contest-page .top-section-text {
    order: 2;
  }

  .contest-page .top-section-text p {
    max-width: 600px;
    margin: 0 auto;
  }

  .contest-page .top-section-amount {
    text-align: center;
    margin: 0 auto;
    order: 1;
    margin-bottom: 30px;
    padding-left: 0;
  }

  .contest-page .top-section-text .header-live:before {
    display: none;
  }

  .contest-tabs .coming-soon h1 {
    font-size: 20px;
  }

  .contest-page section {
    margin-top: 20px;
  }
}
