.wrapper-report .wrapper-contest {
  display: inline-grid;
}

@media (min-width: 1024px) {
  .wrapper-report .wrapper-contest {
    margin: 20px;
  }
}

.wrapper-contest {
  margin-top: 40px;
  border-radius: 10px;
  background: var(--secondary-background-purple);
  box-shadow: 0 -1px 0px #5e507133, 0 1px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  grid-template-columns: 1fr;
  display: grid;
}

@media (min-width: 1024px) {
  .wrapper-contest {
    grid-template-columns: 100px 1fr;
  }
}

.wrapper-contest .cta-button {
  display: block;
  text-align: center;
  margin: 5px 0;
}

@media (min-width: 1024px) {
  .wrapper-contest .cta-button {
    display: inline-block;
    margin: 0.25rem 0.5rem 0.25rem 0;
  }
}

.wrapper-contest h4,
.wrapper-contest p {
  margin-top: 0;
}
.wrapper-contest p {
  margin-bottom: 0.8em;
}
.wrapper-report .wrapper-contest p {
  margin-bottom: 0.1em;
}

.wardens {
  margin-top: 5px;
}
.wardens a {
  width: 40px;
  height: 40px;
  margin: 5px 5px 0 0;
  display: inline-block;
}

.wardens a {
  border: 2px solid #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
}
.wardens img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.wardens span {
  margin: 0;
  padding: 0;
}

.countdown h5 {
  font-size: 20px;
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
}

.countdown h5 .wrapper-time {
  display: inline-block;
  white-space: nowrap;
  margin: 0 5px 0 0;
}

.countdown h5 .countdown-live:before {
  content: "LIVE";
  font-size: 0.6em;
  letter-spacing: 0.1em;
  border: 2px solid var(--hot-pink);
  padding: 0.2em 0.8em;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 var(--hot-pink);
  text-shadow: 0 0 10px var(--hot-pink);
  margin: 0 1em 0 0;
  display: inline-block;
  transform: translate(0, -0.25em);
}

.wrapper-time span {
  font-weight: 600;
}

.hours::before {
  content: "";
  margin-left: 5px;
}

.hours::after,
.minutes::after {
  content: ":";
  margin-left: 5px;
}

.wrapper-sponsor {
  margin: 0 auto;
  width: 80px;
}

@media (min-width: 1024px) {
  .wrapper-sponsor {
    margin: 10px 10px 10px 0;
  }
}

.wrapper-contest .days-duration {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.wrapper-sponsor img {
  width: 100%;
  border-radius: 100%;
}

.placeholder-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: rgba(255,255,255,.1);
}

.center {
  text-align: center;
  margin: 10px auto;
}

.contest-league {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  padding: 5px 20px 5px 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  border-radius: 50px;
}

.contest-league img {
  max-height: 20px;
  padding-right: 5px;
}

.contests-page h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-align: center;

  line-height: 120%;
}

@media (min-width: 600px) {
  .contest-league {
    float: right;
    margin-bottom: 5px;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .wrapper-contest {
    margin-top: 10px;
  }

  .wrapper-contest h4 {
    color: #fff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
  }
  .countdown h5 {
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .countdown h5 .end-cap {
    font-size: 15px;
  }
  .wrapper-contest p {
    font-size: 15px;
    margin: 10px 0;
  }
}
