:root {
  --cosmos-max-width: 900px;
  --cosmos-bkg-color: #251b2e;
  --cosmos-font-family: "Roboto", sans-serif;
}

.cosmos {
  background: url("/images/cosmos-bkg-gradient.jpg") no-repeat top center
    var(--cosmos-bkg-color);
  background-size: 300%;
}

.cosmos main {
  margin: 0; /* remove margins so we can use full-width backgrounds for sections. TODO: make this treatment the default */
}

.cosmos-wrapper {
  margin: 20px auto;
  padding: 20px;
  max-width: var(--cosmos-max-width);
}

.cosmos-wrapper section {
  margin-bottom: 0; /* removing default section styling */
}

.cosmos hr {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(
    left,
    var(--cosmos-bkg-color),
    #3c2b47,
    var(--cosmos-bkg-color)
  );
  max-width: var(--cosmos-max-width);
}

@media (min-width: 500px) {
  .cosmos {
    background-size: 200%;
  }
}

@media (min-width: 800px) {
  .cosmos {
    background-size: 100%;
  }
}

.cosmos::after {
  display: none; /* removing the background pseudo element inherited from other pages */
}

.cosmos header {
  background: rgba(37, 27, 46, 0.73);
}

.cosmos-logo {
  margin: 50px auto 10px;
  display: block;
}

.cosmos-logo {
  max-width: 250px;
}

.cosmos-hero .c4-logo {
  max-width: 150px;
}

.cosmos .cosmos-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: calc(20px + 10vw);
}

.cosmos-bkg {
  background: url("/images/cosmos-bkg.jpg") no-repeat top center;
  background-size: cover;
  margin: 0;
  padding: 10px 0 20px;
}

.cosmos h1 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 0.5em;
}

.cosmos h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0.5em;
  font-family: var(--cosmos-font-family);
}

.cosmos p {
  line-height: 140%;
}

@media (max-width: 760px) {
  .cosmos header {
    padding: 0 0 30px;
  }
  .cosmos header.open {
    padding: 0;
  }
  .cosmos header nav.open {
    background: rgba(37, 27, 46, 0.6);
  }
}
