.container-404 {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.placeholder {
  margin-top: 16px;
  height: 300px;
  width: auto;
  object-fit: cover;
  border-radius: 5px;
}