footer {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
}

footer a,
footer span {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

footer span::after,
footer a::after {
  color: #ffffff88;
  padding: 0 5px;
}

footer span::after,
footer a:nth-child(-n + 3)::after {
  content: " // ";
}

footer span::after {
  content: " »» ";
}

footer span {
  color: #ffffff88;
}

footer a:link {
  color: #fff;
}

footer a:hover {
  color: var(--light-purple) !important;
  border-bottom: 0px;
}

footer span:last-of-type {
  display: block;
  margin-top: 10px;
  word-break: break-all;
}

footer span:last-of-type::after {
  content: "";
}

@media (max-width: 600px) {
  footer span {
    display: none;
  }
}

@media only screen and (max-width: 740px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  footer {
    margin-top: 20px;
  }
}
