.agreement {
  font-size: 0.8em;
  padding: 10px;
  padding-top: 0;
  margin-top: 0;
}

.agreement a {
  text-decoration: underline;
}

fieldset {
  padding: 5px; /* standardize this value across devices */
}

input[type="text"],
select,
textarea {
  background: var(--lightest-background-purple);
  color: white;
  border-radius: 4px;
  border: none;
}

input[type="text"].input-error,
.input-error {
  border: 2px solid var(--hot-pink);
}

label {
  color: white;
}

.captcha-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.judge-application form {
  font-family: var(--font-family);
  color: white;
  max-width: 900px;
  margin: 0 auto;
}

.judge-application form button {
  margin: 0 auto;
  display: block;
}

.thank-you {
  margin: 0 auto;
  display: block;
  max-width: 800px;
  padding: 20px;
}

.thank-you a {
  text-decoration: underline;
}

.thank-you h1 {
  text-align: center;
}

.thank-you ol,
.thank-you p {
  line-height: 150%;
}

.thank-you ol li {
  margin-bottom: 20px;
}

.warning-message {
  line-height: 140%;
  font-size: 0.9em;
  border: 1px solid var(--hot-pink);
  box-shadow: 0px 0px 3px var(--hot-pink);
  border-radius: 3px;
  padding: 10px;
}

.lines-of-code {
  margin: 0 -45px;
  padding: 30px 45px;
  border-top: 2px solid var(--border-lightest-background);
  border-bottom: 2px solid var(--border-lightest-background);
}

.input-and-close-button {
  display: flex;
  padding: 0;
}

.add-line-button {
  cursor: pointer;
  background: none;
  border: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  display: inline-block;
  margin-top: 5px;
}

.add-line-button:hover {
  text-decoration: underline;
}

.add-line-button::before {
  content: "+";
  border: 2px solid white;
  border-radius: 50%;
  width: 24px;
  font-size: 17px;
  aspect-ratio: 1/1;
  margin-right: 10px;
  display: inline-block;
  line-height: 130%;
}

.add-line-button:hover::before {
  text-decoration: none;
  background-color: var(--lightest-background-purple);
}

.input-and-close-button button {
  font-family: "Roboto Mono", monospace;
  height: 36px;
  align-self: center;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0 10px;
  margin-left: 3px;
  border-radius: 4px;
}

.input-and-close-button button:hover {
  background: var(--lightest-background-purple);
  border: 2px solid white;
}

/* TODO: finish this battle with flexbox */

/* .thank-you ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
.thank-you ol li {
  counter-increment: my-awesome-counter;
  margin-bottom: 1em;
  clear: both;
}
.thank-you ol li::before {
  content: counter(my-awesome-counter);
  color: white;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  float: left;
} */

/* ***************** Errors ** */

.error-message {
  border: 2px solid #ff108b;
  box-shadow: 0 0 10px 0 #ff338b;
  border-radius: 4px;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.error-message:before {
  content: "!";
  border: 2px solid #ff108b;
  box-shadow: 0 0 10px 0 #ff338b;
  background: #ff338b;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 5px;
  font-weight: bold;
  margin: 0 20px 0 10px;
  text-align: center;
}

.error-message p {
  flex: 1;
}

.error-message a {
  text-decoration: underline;
}
