.agreement {
  font-size: 0.8em;
  padding: 10px;
  padding-top: 0;
  margin-top: 0;
}

.agreement a {
  text-decoration: underline;
}

fieldset {
  padding: 5px; /* standardize this value across devices */
}

input[type="text"],
select,
textarea {
  background: var(--lightest-background-purple);
  color: white;
  border-radius: 4px;
  border: none;
}

label {
  color: white;
}

.captcha-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
