html {
  color-scheme: light dark;
}

body {
  background-color: black;
  margin: 40px;
}

body::after {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-image: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.13),
      rgba(255, 255, 255, 0.13) 1px,
      rgba(50, 05, 50, 0.15) 1px,
      1px,
      rgba(50, 50, 50, 0.15) 2px
    ),
    linear-gradient(
      167deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 60%,
      rgba(51, 0, 101, 1) 100%
    );
}

header {
  padding: 5px 0px;
}

.logo img {
  width: 130px;
  display: inline-block;
  margin: 5px 30px 5px 0px;
  position: absolute;
  left: 0px;
}

.logo:focus-visible img {
  outline: 2px solid white;
}

.wrapper-nav {
  position: relative;
}

header nav {
  position: absolute;
  right: 0px;
  text-align: right;
  display: block;
  vertical-align: top;
  padding: 5px 0;
}

nav a {
  text-align: right;
  margin: 0 10px;
  display: inline-block;
  color: white;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.hero {
  max-width: 1200px;
  margin: 150px auto 0 auto;
  display: block;
}

.hero h1 {
  font-size: 80px;
  text-shadow: 0 7px rgba(51, 0, 101, 1);
  margin: 0 0 60px 0;
}

.hero h1 span {
  display: inline-block;
}

section:first-of-type {
  margin-top: 0;
}

.wrapper-main {
  vertical-align: bottom;
  max-width: 1200px;
  margin: 20px auto;
  line-height: 1.5;
}

.wrapper-report {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

@media screen and (min-width: 800px) {
  .wrapper-reports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .wrapper-reports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.wrapper-report .wrapper-contest {
  display: inline-grid;
  margin: 20px;
}

section {
  margin: 80px 0;
}

h1 {
  color: white;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

h2,
h2 code {
  color: #fff;
}

h2 code {
  font-family: inherit;
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

h4 {
  color: #fff;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  font-weight: 200;
}

h4 a {
  font-weight: 800;
}

h5 {
  font-size: 30px;
  color: #fff;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin: 0 0 20px 0;
}

article {
  max-width: 800px;
  line-height: 1.3;
  margin: 100px auto;
}

article p,
article li,
article blockquote {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

article li {
  margin-bottom: 10px;
}

article h1 {
  font-size: 40px;
}

article h2 {
}

article h3 {
}

article h4 {
}

article h5 {
}

article h2 {
  margin-top: 60px;
  color: #fff;
  border-bottom: 1px solid #443658;
  padding-bottom: 10px;
  text-transform: uppercase;
  font: 1.4rem "Space Mono", monospace;
}

/* article h2::before {
  content: "> ";
} */

article h3 {
  margin-top: 40px;
  color: #fff;
  font: 1.2rem "Space Mono", monospace;
}

p,
li {
  color: #ffffffaa;
  font-family: "Roboto", sans-serif;
}

li span {
  color: #fff;
}
li span::before {
  content: "(";
  color: #ffffff33;
}
li span::after {
  content: ")";
  color: #ffffff33;
}

ul {
  margin-bottom: 30px;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Cascadia Code",
    Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: #ffffffaa;
  color: black;
  padding: 2px 4px;
  border: 1px solid #000000aa;
  border-radius: 4px;
  font-size: inherit;
}

strong {
  color: #ffffff;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: #ff4000;
}

p a:hover,
li a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
blockquote a:hover {
  border-bottom: 1px solid #ff4000;
}

.definitions {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.definitions div {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px 10px 0;
}
.definitions div:last-child {
  margin-right: 0;
}

.definitions h3 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.wrapper-contest-set {
}

.wrapper-contest {
  margin-top: 40px;
  border-radius: 10px;
  background: rgba(51, 0, 101, 0.3);
  box-shadow: 0 -1px 0px #5e507133, 0 1px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  grid-template-columns: 100px 1fr;
  display: grid;
}

.wrapper-contest.soon {
  background: rgba(51, 0, 101, 0.3);
}

.wrapper-contest.active {
  background: rgba(51, 0, 101, 0.3);
}
.wrapper-contest.completed {
  opacity: 0.8;
}

.wrapper-contest h4,
p {
  margin-top: 0;
}
.wrapper-contest p {
  margin-bottom: 0.8em;
}

.wardens {
  margin-top: 5px;
}
.wardens a {
  width: 40px;
  height: 40px;
  margin: 5px 5px 0 0;
  display: inline-block;
}

.wardens a {
  border: 2px solid #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
}
.wardens img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.wardens span {
  margin: 0;
  padding: 0;
}

.countdown h5 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.countdown h5 .wrapper-time {
  display: inline-block;
  margin: 0 5px 0 0;
}

.wrapper-time span {
  font-weight: 600;
}

.hours::before {
  content: "";
  margin-left: 5px;
}

.hours::after,
.minutes::after {
  content: ":";
  margin-left: 5px;
}

.wrapper-sponsor {
  margin: 10px 10px 10px 0;
  width: 80px;
}

.wrapper-sponsor img {
  width: 100%;
  border-radius: 100%;
}

.center {
  text-align: center;
  margin: 10px auto;
}

.button {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(116, 116, 116, 0);
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  width: auto;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 0.25rem 0.125rem;
}

.button-small {
  font-size: 1em;
  padding: 0.5em 1em;
}

.cta-button {
  background-color: #8000ff;
  color: #fff;
  text-transform: uppercase;
}

.cta-button:hover {
  background-color: #ff4000;
  border-bottom: 0px;
  color: #fff;
}

footer {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
}

footer a,
footer span {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

footer span::after,
footer a::after {
  color: #ffffff88;
  padding: 0 5px;
}

footer span::after,
footer a:nth-child(-n + 3)::after {
  content: " // ";
}

footer span::after {
  content: " »» ";
}

footer span {
  color: #ffffff88;
}

footer a:link {
  color: #fff;
}

footer a:hover {
  color: #ff4000 !important;
  border-bottom: 0px;
}

footer span:last-of-type {
  display: block;
  margin-top: 10px;
  word-break: break-all;
}

footer span:last-of-type::after {
  content: "";
}

table {
  color: #d7c7ef;
  font-family: sans-serif;
  border-collapse: collapse;
  border-style: hidden;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  margin: 40px auto;
}
th {
  margin: 0;
  min-width: 60px;
}
th[role="columnheader"] {
  text-align: left;
}
thead tr:nth-of-type(2) th:nth-of-type(1) {
  padding-left: 40px;
}

table td {
  margin: 0;
  /* border: 1px solid rgba(146, 129, 171, 0.2); */
  border: 1px solid #443658;
  padding: 10px;
}

table td,
table th {
  padding: 10px;
  font-size: 12px;
}

table th {
  color: #fff;
}

th:first-child .sort-direction {
  display: none;
}

th {
  position: relative;
}

.sort-direction {
  position: absolute;
  right: 10px;
}

.member + .member {
  margin-top: 10px;
}
.teamname {
  display: block;
  margin: 0 0 5px 30px;
  padding-bottom: 5px;
  /* border-bottom: 1px solid rgba(146, 129, 171, 0.2); */
  border-bottom: 1px solid #443658;
}
.sb-avatar {
  margin-right: 10px;
}
pre {
  overflow-x: scroll;
}

.contest-repo {
}

.report-contents h1 {
  border-top: 3px solid #443658;
  margin-top: 40px;
  padding-top: 40px;
}

h1.page-header {
  font-size: 40px;
  margin-top: 40px;
  padding-top: 40px;
  text-align: center;
}

.report-sponsor-logo {
  width: 100px;
  border-radius: 100%;
  float: right;
  margin: 0 0 20px 20px;
}

@media (min-width: 850px) {
  table td,
  table th {
    padding: 20px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  body {
    background-color: black;
    background-image: none;
    margin: 0;
  }

  header {
    padding: 5px 0 0 0;
  }

  header nav {
    position: static;
    right: auto;
    text-align: center;
    font-size: 12px;
  }
  .wrapper-nav {
    right: 0;
  }
  nav a {
    margin: 0 5px;
  }
  th {
    min-width: 50px;
  }
  th:nth-of-type(5),
  td:nth-of-type(5),
  th:nth-of-type(6),
  td:nth-of-type(6) {
    display: none;
  }
  td:nth-of-type(4),
  th:nth-of-type(4) {
    border-right: 0px;
  }
  table .sb-avatar,
  table .teamname {
    display: none !important;
  }
  thead tr:nth-of-type(2) th:nth-of-type(1) {
    text-align: left;
  }
  .logo img {
    width: 150px;
    margin: 5px auto 10px auto;
    display: block;
    position: static;
    left: auto;
  }
  header {
    margin-bottom: 20px;
  }

  .hero {
    margin: 40px 10px 0 10px;
  }

  .hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 32px !important;
  }

  .wrapper-main {
    margin: 10px;
  }

  section {
    margin: 80px 0;
  }

  h5 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .definitions {
    display: block;
    margin: 0;
  }

  .definitions div {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    background-color: transparent;
  }

  .definitions h3,
  .definitions p {
    font-size: 16px;
    display: inline;
  }

  .definitions h3 {
    margin-right: 5px;
  }
  .definitions p {
    text-transform: lowercase;
  }
  .definitions div:last-child {
    margin-right: 0px;
  }

  .wrapper-contest {
    margin-top: 10px;
  }

  .wrapper-contest h4 {
    color: #fff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
  }
  .countdown h5 {
    font-size: 15px;
  }
  .wrapper-contest p {
    font-size: 15px;
    margin: 10px 0;
  }
  footer span {
    display: none;
  }
}
