header {
  padding: 5px 0px;
}

.logo img {
  width: 130px;
  display: inline-block;
  margin: 5px 30px 5px 0px;
}

.logo:focus-visible img {
  outline: 2px solid white;
}

header {
  margin: 40px 40px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 5px 0;
  transition: transform 0.5s, opacity 0.5s ease-out;
}

nav a {
  text-align: right;
  margin: 0 10px;
  display: inline-block;
  color: white;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.hamburger {
  display: none;
  height: 25px;
}

.hamburger * {
  transition: transform 0.5s, opacity 0.5s ease-out;
}

@media (max-width: 760px) {
  header {
    padding: 15px 0 20px 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;

    background: none;
    border: none;
    justify-self: flex-end;

    margin-right: -15px;
  }
  .nav-links {
    opacity: 0;
    display: none; /* Be sure to keep the aria properties for aria-label and aria-expanded in header.js since this hides content from certain devices */
  }
  nav.open {
    background: #222222f2;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px auto;

    padding: 40px;
  }
  nav.open .logo {
    text-align: left;
    margin: 0;
  }
  nav.open .nav-links {
    opacity: 1;
    grid-column: 1 / 3;
    display: block;
    top: 50px;
  }
  nav.open .nav-links a {
    display: block;
    text-align: left;
    padding: 10px 0;
    margin: 15px 0;
    border-bottom: 1px solid #efefef1a;
  }
  nav.open .hamburger .top-bun {
    opacity: 0;
  }
  nav.open .hamburger .patty {
    transform: rotate(45deg) translate(0, -50%);
  }
  nav.open .hamburger .bottom-bun {
    transform: rotate(-45deg) translate(-50%, -25%);
  }
}
