header {
  padding: 5px 0px;
}

.logo img {
  width: 170px;
  display: inline-block;
  margin: 10px 30px 5px 0px;
}

.logo:focus-visible img {
  outline: 2px solid white;
}

header {
  margin: 40px 40px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding: 5px 0;
}

nav a {
  text-align: right;
  margin: 0 10px;
  display: inline-block;
  color: white;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  margin: 0;
}

.hamburger {
  display: none;
  height: 25px;
}

.hamburger * {
  transition: transform 0.5s, opacity 0.5s ease-out;
}
header nav {
  transition: all 0.3s ease-out;
}

.nav-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 830px) {
  header {
    margin: 0;
    padding: 0;
  }
  .logo {
    flex: 1;
    text-align: left;
  }
  .hamburger {
    display: block;
    cursor: pointer;

    background: none;
    border: none;
    justify-self: flex-end;

    margin-right: -15px;
  }
  .nav-links {
    /* @todo: style login and register links/buttons for mobile */
    width: 100%;
    top: 50px;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  }
  header nav {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px 0;
  }
  header nav.open {
    background: var(--secondary-background-purple);
    padding: 40px;
  }
  header nav.open .logo {
    text-align: left;
    margin: 0;
  }
  header nav.open .nav-links {
    opacity: 1;
    max-height: 100vh;
  }
  header nav .nav-links a {
    display: block;
    text-align: left;
    padding: 10px 0;
    margin: 15px 0;
    border-bottom: 1px solid #efefef1a;
  }
  header nav.open .hamburger {
    order: 0;
  }
  header nav.open .hamburger .top-bun {
    opacity: 0;
  }
  header nav.open .hamburger .patty {
    transform: rotate(45deg) translate(0, -50%);
  }
  header nav.open .hamburger .bottom-bun {
    transform: rotate(-45deg) translate(-50%, -25%);
  }
}
