.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden.focusable:focus {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: auto;
  position: static;
  white-space: normal;
  width: auto;
}
