.hero {
  max-width: 1200px;
  margin: 110px auto 0 auto;
  display: block;
}

.hero h1 {
  font-family: Roboto-Bold;
  font-size: 75px;
  color: #ffffff;
  letter-spacing: 0;
  text-shadow: 2px 2px 19px rgba(132, 36, 226, 0.77);
  margin: 0 0 30px 0;
}

.hero h1 span {
  display: inline-block;
}

.definitions {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.hero h5 {
  margin-bottom: 40px;
}

.landing .definitions {
  margin-bottom: 80px;
}

.definitions div {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px 10px 0;
}

.definitions div:last-child {
  margin-right: 0;
}

.definitions h3 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .hero {
    margin: 40px 0 0;
  }

  .hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .definitions {
    display: block;
    margin: 0;
  }

  .definitions div {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    background-color: transparent;
  }

  .definitions h3,
  .definitions p {
    font-size: 16px;
    display: inline;
  }

  .definitions h3 {
    margin-right: 5px;
  }
  .definitions p {
    text-transform: lowercase;
  }
  .definitions div:last-child {
    margin-right: 0px;
  }
}
