.hero {
  max-width: 1200px;
  margin: 110px auto 0 auto;
  display: block;
}

.hero h1 {
  font-family: "Roboto", sans-serif;
  font-size: 75px;
  color: #ffffff;
  letter-spacing: 0;
  text-shadow: 2px 2px 19px rgba(132, 36, 226, 0.77);
  margin: 20px 0;
  text-align: center;
}

.hero h1 span {
  display: inline-block;
}

.definitions {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.hero h5 {
  max-width: 800px;
  text-align: center;
  font-size: 26px;
  margin: 0 auto 1em;
}

.hero-buttons {
  text-align: center;
  margin: 0 auto 5em;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .hero-buttons {
    flex-direction: column;
  }
  .hero-buttons a:first-child {
    margin-bottom: 1em;
  }
}

.hero-buttons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.3em;
  padding: 0.8em 2.5em;
}

.trustbar {
  text-align: center;
  max-width: 900px;
  margin: 20px auto 50px auto;
}

.trustbar h5 {
  text-align: center;
  margin: 0 auto var(--page-margin);
}
.trustbar .logos img {
  height: 30px;
  padding: 10px;
  opacity: .7;
}

.unlock-protocol {
  width: 100px;
}

.definitions div {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px 10px 0;
}

.definitions div:last-child {
  margin-right: 0;
}

.definitions h3 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 0px;
}

.definitions h3 + p {
  margin-top: 0.5em;
}

.hero-or {
  margin: -10px 0 -10px 0;
}

@media screen and (max-width: 900px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero h5 {
    font-size: 25px;
  }
}

@media (max-width: 645px) {
  .hero {
    margin: 40px 0 0;
  }

  .hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .hero h1 span {
    display: inline;
  }

  .hero h5 {
    font-size: 20px;
  }
  
  .trustbar .logos img {
    height: 20px;
    padding: 5px;
  }

  .definitions {
    display: block;
    margin: 0;
  }

  .definitions div {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    background-color: transparent;
  }

  .definitions h3,
  .definitions p {
    font-size: 16px;
    display: inline;
  }

  .definitions h3 {
    margin-right: 5px;
  }
  .definitions p {
    text-transform: lowercase;
  }
  .definitions div:last-child {
    margin-right: 0px;
  }
}
