/* TODO: not a great solution, but we'll need to rethink the way all the components work together to make this work in a nicer way */
/* this is a short background that fades out in case the edge of it is ever seen. it extends slightly behind .hero-wrapper to make it look like a seamless color. */
.landing {
  background: var(--header-background-purple);
  background: linear-gradient(
    180deg,
    var(--header-background-purple) 0%,
    var(--header-background-purple) 210px,
    var(--background-purple) 250px,
    var(--background-purple) 100%
  );
}

.landing .upcoming-header {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  text-align: center;
  line-height: 120%;
  margin-top: 20px;
}

.landing main {
  margin: 0;
}

.landing .hero-wrapper {
  background: var(--header-background-purple);
  display: flow-root;
}

.landing .hero-wrapper .hero {
  padding: var(--page-margin);
  margin: 0 auto 0.6em;
}

.landing .hero-wrapper .hero .button.button-small {
  font-size: 0.8em;
  margin: 1.2em auto 1em;
}

.landing .hero-wrapper .hero .button.button-small:hover {
  border-bottom: 0;
}

.landing .wrapper-main {
  padding: var(--page-margin);
  margin: 0 auto;
}
