@import "./mixins.scss";

.Input__Input {
  text-align: left;
  width: 100%;
}

.Input__InputWrapper {
  display: flex;
  padding: 0;
  font-family: var(--font-family);
  align-items: center;
}

.Input__RemoveButton {
  height: 40px;
  white-space: nowrap;
  align-self: center;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0 10px;
  margin-left: 3px;
  border-radius: 4px;

  &:hover {
    background: var(--lightest-background-purple);
    border: 2px solid white;
  }
}

.Input__SmallButton {
  @include button;
  height: 40px;
  width: 50px;
  padding: 0;
  font-size: 14px;
  white-space: nowrap;
  align-self: center;
  margin-left: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Input__SaveButton {
  background-color: var(--main-purple);

  &:hover {
    background-color: rgba(var(--main-purple-rgb), 0.8);
    box-shadow: inset 0px 0px 0px 2px #fff;
  }
}

.Input__EditButton {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 2px #fff;

  &:hover {
    background-color: var(--main-purple);
  }
}

.Input__IconButton {
  @include button;
  padding: 8px;
  font-size: 14px;
  white-space: nowrap;
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.Input__Control {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

.Input__Text {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  background: var(--lightest-background-purple);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: text;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
  }
}

.Input__Label {
  font-weight: bold;
  font-size: 20px;
  color: white;
  display: block;
  font-family: var(--font-family);
}

.Input__Help {
  color: inherit;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0;

  & a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      border-bottom: none;
    }
  }
}

// @todo: remove specificity and delete old input styles
// once all inputs use this component
input[type="text"].Input__InputError,
.Input__InputError {
  border: 2px solid var(--hot-pink);
}

.Input__ErrorMessage {
  display: flex;
  font-family: var(--font-family);
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    aspect-ratio: 1/1;
    margin-top: 6px;

    border-radius: 100%;
    background-color: var(--hot-pink);
    display: inline-block;
    margin-right: 5px;
  }
}
