.leaderboard-container {
  margin: 0 auto;
  max-width: 750px;
}

.leaderboard-table {
  color: #fff;
  border-collapse: collapse;
  border-style: hidden;
  font-family: var(--font-family);
  font-weight: 400;
  width: 100%;
  border-top: 4px solid var(--main-purple);
}

.leaderboard-table th {
  margin: 0;
  min-width: 40px;
}

.leaderboard-table th[role="columnheader"] {
  text-align: left;
}

.leaderboard-table thead th {
  text-transform: uppercase;
}

.leaderboard-table td {
  margin: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.22);
  padding: 10px;
}

.leaderboard-table td:nth-child(n + 2),
.leaderboard-table td:nth-child(2) {
  text-align: right;
}

.leaderboard-table tbody tr:nth-child(odd),
.leaderboard-table tr:nth-child(2) th:nth-child(6) {
  background: rgba(255, 255, 255, 0.07);
}

.leaderboard-table td:nth-child(5),
.leaderboard-table td:nth-child(9),
.leaderboard-table th:nth-child(5),
.leaderboard-table th:nth-child(9),
.leaderboard-table tr:nth-child(1) th:nth-child(7) {
  border-left: 2px solid rgba(209, 180, 180, 0.22);
  background: rgba(255, 255, 255, 0.07);
}

.leaderboard-table tr:nth-child(1) th:nth-child(5),
.leaderboard-table tr:nth-child(2) th:nth-child(6) {
  border-right: 2px solid rgba(255, 255, 255, 0.22);
}

.leaderboard-table td:nth-child(6),
.leaderboard-table tr:nth-child(3) th:nth-child(6) {
  border-right: 2px solid rgba(255, 255, 255, 0.22);
  background: rgba(255, 255, 255, 0.07);
}

.leaderboard-table td:nth-child(1) {
  text-align: center;
}

.leaderboard-table td,
.leaderboard-table th {
  padding: 10px;
  font-size: 12px;
}

.leaderboard-table td:nth-child(2) {
  width: 100%;
}

.leaderboard-table tr:nth-child(1) th {
  text-align: center;
}

.leaderboard-table thead tr:nth-child(2) th {
  padding-top: 0;
}

.leaderboard-table th:first-child .sort-direction {
  display: none;
}

.leaderboard-table th {
  position: relative;
}

.sort-direction {
  position: absolute;
  right: 10px;
}

.member + .member {
  margin-top: 10px;
}

.member:last-of-type {
  margin-bottom: 5px;
}

.wrapper-competitor div.sb-avatar {
  border-radius: 50%;
  background: white;
  border: 2px solid white;
  margin-right: 10px;
}

.wrapper-competitor {
  text-align: left;
}

.member {
  margin-left: 40px;
  text-align: left;
}

.team-wrapper {
  display: flex;
  align-items: center;
  margin: 5px 5px 5px 0;
}

.team-avatar {
  height: 27px;
  width: 27px;
  aspect-ratio: 1/1;
  margin-right: 10px;
  background: darkorange;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 2px solid white;
}

.team-identifier {
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  background: var(--tertiary-background-purple);
  border-radius: 26px;
  margin-left: 12px;
  padding: 4px 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* avatars are 27px */
.sb-avatar {
  /* position: absolute; */
  left: 0;
}

.dropdown {
  padding: 10px;
  margin-bottom: 4px;
  margin-right: 8px;
  background-color: var(--background-purple);
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 600;
}

@media only screen and (max-width: 740px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .leaderboard-table table,
  .leaderboard-table thead,
  .leaderboard-table tbody,
  .leaderboard-table th,
  .leaderboard-table td,
  .leaderboard-table tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .leaderboard-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .leaderboard-table tr {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .leaderboard-table td:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2;
    justify-items: flex-start !important;
    align-items: center;
  }
  .leaderboard-table td:nth-of-type(2) {
    grid-area: 1 / 1 / 1 / 1;
    justify-content: flex-start;
    align-items: center;
    left: 30px;
  }
  .leaderboard-table td:nth-of-type(3) {
    grid-area: 1 / 2 / 2 / 2;
    justify-content: flex-end;
    align-items: center;
  }
  .leaderboard-table td:nth-of-type(4) {
    grid-area: 2 / 1 / 3 / 3;
    justify-content: flex-end;
  }
  .leaderboard-table td:nth-of-type(4) {
    grid-area: 2 / 1 / 4 / 3;
    justify-content: flex-end;
  }
  .leaderboard-table td:nth-of-type(5) {
    grid-area: 4 / 1 / 5 / 3;
    justify-content: flex-end;
  }
  .leaderboard-table td:nth-of-type(6) {
    grid-area: 5 / 1 / 6 / 3;
    justify-content: flex-end;
  }
  .leaderboard-table td:nth-of-type(7) {
    grid-area: 6 / 1 / 7 / 3;
    justify-content: flex-end;
  }
  .leaderboard-table td:nth-of-type(8) {
    grid-area: 7 / 1 / 8 / 3;
    justify-content: flex-end;
  }
  .leaderboard-table td:nth-of-type(9) {
    grid-area: 8 / 1 / 9 / 3;
    justify-content: flex-end;
  }
  .leaderboard-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    position: relative;
    /* padding-left: 50%; */
    width: 100%;
    box-sizing: border-box;
    vertical-align: center;
    display: flex;
    text-align: right;
  }

  .leaderboard-table td:before {
    /* Now like a table header */
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    vertical-align: center;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    justify-content: flex-end;
    align-items: center;
    border: 0;
  }

  .leaderboard-table td:nth-child(4),
  .leaderboard-table td:nth-child(8),
  .leaderboard-table th:nth-child(4),
  .leaderboard-table td:nth-child(5),
  .leaderboard-table td:nth-child(9),
  .leaderboard-table tr:nth-child(1) th:nth-child(6),
  .leaderboard-table th:nth-child(8) {
    border-left: 0;
  }
  .leaderboard-table tr:nth-child(0)  {
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  }

  .leaderboard-table tr:nth-child(1) th:nth-child(4) {
    border-right: 0;
  }

  .leaderboard-table td:nth-child(5),
  .leaderboard-table td:nth-child(6),
  .leaderboard-table tr:nth-child(2) th:nth-child(5) {
    border-right: 0;
  }

  /*
  Label the data
  */
  .leaderboard-table td:nth-of-type(1):before {
    /* content: "First Name"; */
  }
  .leaderboard-table td:nth-of-type(2):before {
    /* content: "RANK"; */
  }
  .leaderboard-table td:nth-of-type(4):before {
    content: "TOTAL";
  }
  .leaderboard-table td:nth-of-type(5):before {
    content: "ALL HIGH";
  }
  .leaderboard-table td:nth-of-type(6):before {
    content: "SOLO HIGH";
  }
  .leaderboard-table td:nth-of-type(7):before {
    content: "ALL MEDIUM";
  }
  .leaderboard-table td:nth-of-type(8):before {
    content: "SOLO MEDIUM";
  }
  .leaderboard-table td:nth-of-type(9):before {
    content: "GAS";
  }
}