table {
  color: #d7c7ef;
  font-family: sans-serif;
  border-collapse: collapse;
  border-style: hidden;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  margin: 40px auto;
}
th {
  margin: 0;
  min-width: 60px;
}
th[role="columnheader"] {
  text-align: left;
}
thead tr:nth-of-type(2) th:nth-of-type(1) {
  padding-left: 40px;
}

table td {
  margin: 0;
  /* border: 1px solid rgba(146, 129, 171, 0.2); */
  border: 1px solid #443658;
  padding: 10px;
}

table td,
table th {
  padding: 10px;
  font-size: 12px;
}

table th {
  color: #fff;
}

th:first-child .sort-direction {
  display: none;
}

th {
  position: relative;
}

.sort-direction {
  position: absolute;
  right: 10px;
}

.member + .member {
  margin-top: 10px;
}
.teamname {
  display: block;
  margin: 0 0 5px 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #443658;
}
.sb-avatar {
  margin-right: 10px;
}

@media (max-width: 600px) {
  th {
    min-width: 50px;
  }
  th:nth-of-type(5),
  td:nth-of-type(5),
  th:nth-of-type(6),
  td:nth-of-type(6) {
    display: none;
  }
  td:nth-of-type(4),
  th:nth-of-type(4) {
    border-right: 0px;
  }
  table .sb-avatar,
  table .teamname {
    display: none !important;
  }
  thead tr:nth-of-type(2) th:nth-of-type(1) {
    text-align: left;
  }
}

@media (min-width: 850px) {
  table td,
  table th {
    padding: 20px;
    font-size: 15px;
  }
}
