.leaderboard-container {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.leaderboard-table {
  color: #fff;
  border-collapse: collapse;
  border-style: hidden;
  font-family: var(--font-family);
  font-weight: 400;
  width: 100%;
  border-top: 4px solid var(--main-purple);
}

th {
  margin: 0;
  min-width: 60px;
}

th[role="columnheader"] {
  text-align: left;
}

thead th {
  text-transform: uppercase;
}

.leaderboard-table td {
  margin: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.22);
  padding: 10px;
}

.leaderboard-table td:nth-child(n + 2) {
  width: 1%;
  text-align: right;
}

.leaderboard-table tbody tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.07);
}

.leaderboard-table td:nth-child(4),
.leaderboard-table td:nth-child(8),
.leaderboard-table th:nth-child(4),
.leaderboard-table tr:nth-child(1) th:nth-child(6),
.leaderboard-table th:nth-child(8) {
  border-left: 2px solid rgba(209, 180, 180, 0.22);
  background: rgba(255, 255, 255, 0.07);
}

.leaderboard-table tr:nth-child(1) th:nth-child(4) {
  border-right: 2px solid rgba(255, 255, 255, 0.22);
}

.leaderboard-table td:nth-child(5),
.leaderboard-table tr:nth-child(2) th:nth-child(5) {
  border-right: 2px solid rgba(255, 255, 255, 0.22);
  background: rgba(255, 255, 255, 0.07);
}

.leaderboard-table td,
.leaderboard-table th {
  padding: 10px;
  font-size: 12px;
}

.leaderboard-table td:nth-child(1) {
  width: 100%;
}

.leaderboard-table tr:nth-child(1) th {
  text-align: center;
}

.leaderboard-table thead tr:nth-child(2) th {
  padding-top: 0;
}

/* .leaderboard-table tbody tr:nth-child(1) .wrapper-competitor,
.leaderboard-table tbody tr:nth-child(1) .member,
.leaderboard-table tbody tr:nth-child(1) .award-amount {
  font-size: 19px;
}

.leaderboard-table tbody tr:nth-child(2) .wrapper-competitor,
.leaderboard-table tbody tr:nth-child(2) .member,
.leaderboard-table tbody tr:nth-child(2) .award-amount {
  font-size: 17px;
} */

/* .badge {
  position: absolute;
  right: 13px;
}

.leaderboard-table tbody tr:nth-child(1) .badge {
  width: 51px;
  height: 51px;
  background-color: #b9883a;
} */

th:first-child .sort-direction {
  display: none;
}

th {
  position: relative;
}

.sort-direction {
  position: absolute;
  right: 10px;
}

.member + .member {
  margin-top: 10px;
}

.member,
.wrapper-competitor {
  position: relative;
  padding-left: 37px;
}

.team-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.team-identifier {
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  background: var(--tertiary-background-purple);
  border-radius: 26px;
  margin-left: 12px;
  padding: 4px 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* avatars are 27px */
.sb-avatar {
  position: absolute;
  left: 0;
}

.dropdown {
  padding: 10px;
  margin-bottom: 4px;
  margin-right: 8px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  th {
    min-width: 50px;
  }
  th:nth-of-type(5),
  td:nth-of-type(5),
  th:nth-of-type(6),
  td:nth-of-type(6) {
    display: none;
  }
  td:nth-of-type(4),
  th:nth-of-type(4) {
    border-right: 0px;
  }
  .leaderboard-table .sb-avatar,
  .leaderboard-table .teamname {
    display: none !important;
  }

  .member,
  .wrapper-competitor {
    padding-left: 0;
  }

  thead tr:nth-of-type(2) th:nth-of-type(1) {
    text-align: left;
  }
}

@media (min-width: 850px) {
  .leaderboard-table td,
  .leaderboard-table th {
    padding: 20px;
    font-size: 15px;
  }
}
