.message-bar {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 3px 20px 0px rgb(0 0 0 / 25%);
  box-sizing: border-box;
}

.message-bar::before {
  /* I broke this piece off so we could apply css filters/opacity to the background image if we wanted to */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center center;
  display: block;
}

.message-bar::before.cosmos {
  background: url(../../static/images/message-bar-bkg.png) no-repeat;
}

.message-bar::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--main-purple);
  display: block;
  content: "";
}

.message-bar::after.cosmos {
  background-image: linear-gradient(
    90deg,
    rgba(53, 65, 248, 0.87) 0%,
    rgba(133, 0, 255, 0.72) 13%,
    rgba(53, 65, 248, 0.57) 25%,
    rgba(145, 54, 227, 0.68) 38%,
    rgba(132, 36, 226, 0.93) 51%,
    rgba(145, 54, 227, 0.68) 66%,
    rgba(53, 65, 248, 0.57) 76%,
    rgba(133, 0, 255, 0.56) 88%,
    rgba(26, 75, 255, 0.31) 100%
  );
}

@media (max-width: 600px) {
  .message-bar.cosmos::before {
    background-image: radial-gradient(
      90deg,
      rgba(133, 0, 255, 0.72) 0%,
      rgba(53, 65, 248, 0.57) 25%,
      rgba(132, 36, 226, 0.93) 51%,
      rgba(53, 65, 248, 0.57) 76%,
      rgba(26, 75, 255, 0.31) 100%
    );
    background-position: center center;
  }
}

.message-bar p {
  color: white;
  padding: 0;
  margin: 0;
  z-index: 2;
  text-align: center;
}

.message-bar a {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 15px;
  margin-left: 10px;
  display: inline-block;
}

.message-bar a:hover {
  background: rgb(255, 255, 255, 0.3);
  color: white;
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255, 0.5);
}
