@mixin button {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  width: auto;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 0.25rem 0.5rem 0.25rem 0;
  cursor: pointer;
  transition: 0.2s ease-out;
}

@mixin primary-button {
  @include button;
  background-color: var(--main-purple);
  color: #fff;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 0 var(--main-purple);

  :hover {
    background-color: rgba(var(--main-purple-rgb), 0.8);
    color: #fff;
    box-shadow: inset 0px 0px 0px 2px #fff;
  }
}
