.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 31, 36, 0.7);
  z-index: 999999;
}

.modal-main {
  position: fixed;
  background: #2d1769;
  min-width: 50vw;
  max-width: 90vw;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.closeModal-icon {
  position: absolute;
  top: 13px;
  right: 13px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-main-content {
  min-width: 70%;
  margin-bottom: 40px;
  max-width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

ul {
  text-align: left;
}

.modal-main-buttons {
  justify-self: flex-end;
}

.modal-main-buttons button:first-child {
  margin-right: 30px;
}

@media only screen and (max-width: 740px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .modal-main {
    position: fixed;
    background: #2d1769;
    min-width: 90vw;
    max-width: 90vw;
    padding: 10px;
  }
}
