.wrapper-report {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: stretch;
  text-align: center;
}

@media (min-width: 1024px) {
  .wrapper-report {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    text-align: left;
  }
}

.report-contents h1 {
  border-top: 3px solid #443658;
  margin-top: 40px;
  padding-top: 40px;
}

.report-sponsor-logo {
  width: 100px;
  border-radius: 100%;
  float: right;
  margin: 0 0 20px 20px;
}

.report-toc *  {
  margin:4px;
  text-decoration: none;
}

.floating-button {
  position: sticky;
  bottom: 20px;
  right: 20px;
}

@media screen and (min-width: 800px) {
  .wrapper-reports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .wrapper-reports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
