.react-tabs {
  -webkit-tap-highlight-color: transparent;
  background: var(--secondary-background-purple);
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  padding: 0;
  background: var(--background-purple);
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 30px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 0;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: white;
  border-radius: 5px 5px 0 0;
  background: var(--secondary-background-purple);
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  padding: 0 30px 30px;
}
