:root {
  /* --tab-border-color: var(--border-lightest-background); */
  --tab-border-color: #4d4167;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  padding: 0;
  margin-bottom: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 2px solid transparent;
  border-bottom: none;
  bottom: -2px;
  position: relative;
  list-style: none;
  padding: 10px 30px;
  cursor: pointer;
  margin: 0 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.react-tabs__tab:first-of-type {
  margin-left: 10px;
}

.react-tabs__tab--selected {
  background: #fff;
  border-width: 2px;
  border-color: var(--tab-border-color);
  color: white;
  border-radius: 5px 5px 0 0;
  background: var(--secondary-background-purple);
}

.react-tabs__tab--disabled {
  color: gray;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  background: var(--secondary-background-purple);
  border-top: 2px solid var(--tab-border-color);
}

.react-tabs__tab-panel--selected:before {
  /* preventing margin collapse */
  content: "";
  display: block;
  height: 1px;
  width: 1px;
}
