.testimonials-header {
  margin-bottom: 1em;
}

.testimonials {
  column-count: 1;
  column-gap: 0;
  max-width: 1068px; /* Tweets have a maximum width, so we need to squish the container a bit to have them sit nicely together, not too far apart */
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .testimonials {
    column-count: 2;
  }
}

.testimonials figure {
  box-sizing: border-box;
  break-inside: avoid;
  margin: 0 0 20px;
  max-width: 528px; /* To match Twitter's hard coded max-width for tweets */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: linear-gradient(225deg, #561399 0%, #140b61 100%);
  border-radius: 10px;
  border-radius: 10px;
  color: white;

  font-family: SpaceMono, monospace;
  font-size: 16px;
  letter-spacing: 0;
  word-break: break-word;
}

@media screen and (min-width: 800px) {
  .testimonials figure {
    font-size: 17px;
    margin: 0 10px 20px;
  }
}

.testimonials figure + figure {
  margin-top: 20px !important; /* margin collapse fix */
}

@media screen and (max-width: 800px) and (min-width: 576px) {
  .testimonials figure {
    margin: 0 auto;
  }
}

.testimonials figure:not(.tweet)::after {
  position: absolute;
  content: "\201D"; /* right double quotation mark */
  opacity: 0.08;
  font-family: SpaceMono-Bold;
  font-size: 180px;
  color: #ffffff;
  letter-spacing: 0;
  bottom: 50px;
  right: 40px;
  line-height: 0;
}

.testimonials blockquote,
.testimonials figcaption {
  margin: 0;
}

.testimonials blockquote {
  padding: 2.8em 2em 0 2em;
}

.testimonials figure:not(.tweet) figcaption {
  padding: 0 2em 3.8em;
}

.testimonials blockquote p {
  font-family: inherit;
  color: inherit;
}

.testimonials figcaption cite {
  display: block;
}

.testimonials figcaption::before {
  content: "\2014\2002"; /* emdash enspace */
}

.testimonials figure.tweet {
  padding-bottom: 0;
  font-size: 16px;
  background-image: linear-gradient(225deg, #561399 0%, #140b61 100%);
}

.testimonials figure.tweet figcaption::before {
  background: url("data:image/svg+xml;utf8,%3Csvg height='20' width='25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.914 4.979c.014.216.014.434.014.653C21.928 12.305 16.89 20 7.678 20v-.005A14.088 14.088 0 0 1 0 17.732a10.011 10.011 0 0 0 7.413-2.093 5.02 5.02 0 0 1-4.68-3.507c.75.147 1.525.116 2.261-.087C2.658 11.57.976 9.5.976 7.095v-.064a4.94 4.94 0 0 0 2.274.633C1.049 6.181.37 3.229 1.7.921a14.178 14.178 0 0 0 10.322 5.276 5.08 5.08 0 0 1 1.45-4.825 4.985 4.985 0 0 1 7.086.22 9.997 9.997 0 0 0 3.18-1.227 5.057 5.057 0 0 1-2.201 2.793 9.896 9.896 0 0 0 2.876-.795 10.23 10.23 0 0 1-2.5 2.616z' fill='%231d9bf0'/%3E%3C/svg%3E"); /* twitter icon */
  content: "";
  display: block;
  width: 25px;
  height: 20px;
  margin: 5px 20px 0 0;
  min-width: 25px;
}

.testimonials figure.tweet blockquote {
  padding: 1.5em 2em;
  break-inside: avoid;
}

.testimonials figure.tweet figcaption {
  background: var(--dark-purple);
  padding: 1.5em 2em;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
