.WardenDetails__Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.WardenDetails__Icon {
  margin-right: 15px;
}

.WardenDetails__Username {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
