// @todo: remove styles once inputs are replaced with new Input component

.Widget__Fields {
  border: none;
  min-width: 0px;
  display: table-cell;
  padding: 0;
}

.Widget__RadioGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-left: 20px;
}

.Widget__Radio,
.Widget__Checkbox {
  margin: 10px 10px 10px 0;
}

.Widget__RadioLabel {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--header-background-purple);
  }
}

.Widget__Container {
  margin-bottom: 40px;
  width: 100%;
}

.Widget__Label {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.Widget__Help {
  color: inherit;
  font-size: 13px;
  margin-top: 5px;

  & a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      border-bottom: none;
    }
  }
}

.Widget__ErrorMessage {
  display: flex;
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    aspect-ratio: 1/1;
    margin-top: 6px;

    border-radius: 100%;
    background-color: var(--hot-pink);
    display: inline-block;
    margin-right: 5px;
  }
}

.Widget__Placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.Widget__Control {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

.Widget__Text {
  height: 40px;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.Widget__Select {
  height: 40px;
  width: 100%;
  cursor: pointer;
}

input[type="file"].Widget__Avatar::file-selector-button {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  width: auto;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 0.25rem 0.5rem 0.25rem 0;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  box-shadow: inset 0px 0px 0px 2px #fff;
  margin-left: 10px;

  &:hover {
    background-color: var(--main-purple);
  }
}

.Widget__Textarea {
  height: 250px;
  font-family: inherit;
  resize: vertical;
  margin-top: 0;
}

.Widget__TextAreaContainer {
  position: relative;
}

.Widget__TextAreaCounter {
  text-align: right;
  position: absolute;
  bottom: 3px;
  left: 3px;
  background-color: rgba(204, 204, 204, 1);
  padding: 1px;
  border-radius: 2px;
  color: black;
}

.Widget__Markdown {
  overflow: auto;

  h1,
  h2,
  h3 {
    font-weight: 600;
    text-align: left;
    color: white;
    margin-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.25);
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--border-lightest-background);
    border-radius: 6px;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      height: 5px;
    }
  }

  code {
    padding: 0;
    margin: 0;
    background-color: var(--border-lightest-background);
    display: inline;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 16px;
  }

  tbody {
    tr:nth-child(2n) {
      background-color: var(--lightest-background-purple);
    }
  }

  td,
  th {
    border: 1px solid var(--border-lightest-background);
    padding: 6px 13px;
  }
}

@media (max-width: 600px) {
  .Widget__RadioGroup {
    padding-left: 8px;
  }
  .Widget__RadioLabel {
    padding: 10px 10px;
  }
}
