@import "./mixins.scss";

.Card__Card {
  border-radius: 10px;
  background-color: var(--header-background-purple);
  padding: 20px;
  break-inside: avoid;
  margin-bottom: 20px;
}

.Card__TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--lightest-background-purple);
  margin-bottom: 10px;
}

.Card__Title {
  font-size: 24px;
  color: white;
  margin-top: 0;
}

.Card__ButtonsWrapper {
  display: flex;
  align-items: center;
}
