:root {
  /* --tab-border-color: var(--border-lightest-background); */
  --tab-border-color: #4d4167;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  padding: 0;
  margin-bottom: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 2px solid transparent;
  border-bottom: none;
  bottom: -2px;
  position: relative;
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.react-tabs__tab:first-of-type {
  margin-left: 10px;
}

.react-tabs__tab--selected {
  background: #fff;
  border-width: 2px;
  border-color: var(--tab-border-color);
  color: white;
  border-radius: 5px 5px 0 0;
  background: var(--secondary-background-purple);
}

.react-tabs__tab--disabled {
  color: gray;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: var(--secondary-background-purple);
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  background: var(--secondary-background-purple);
  border-top: 2px solid var(--tab-border-color);
}

.react-tabs__tab-panel--selected:before {
  /* preventing margin collapse */
  content: "";
  display: block;
  height: 1px;
  width: 1px;
}

.alternate-tab .react-tabs__tab-panel--selected {
  background: var(--lightest-background-purple);
  border-radius: 4px;
}

.alternate-tab .react-tabs__tab--selected {
  background-color: var(--lightest-background-purple);
}

.form-tab .react-tabs__tab-panel--selected {
  background: var(--header-background-purple);
  margin: 0 -40px 20px -40px;
  padding: 30px 45px 20px 45px;
  border-bottom: 2px solid var(--border-lightest-background);
  border-top: 2px solid var(--border-lightest-background);
}

.form-tab .react-tabs__tab--selected {
  background: var(--header-background-purple);
}

@media (max-width: 600px) {
  .form-tab .react-tabs__tab-panel--selected {
    /* @todo: use variables or mixins for interdependent margin/padding */
    margin: 0 -15px 15px -15px;
    padding: 15px;
  }

  .form-tab .react-tabs__tab:first-of-type {
    margin-left: 5px;
  }

  .react-tabs__tab {
    font-size: 12px;
    letter-spacing: 1.5px;
    padding: 8px;
  }
}
