.OptionContainer {
  display: flex;
  align-items: center;
  min-height: 32px;

  & span {
    flex: 1;
    font-family: inherit;
    color: white;
  }
}

.Avatar {
  margin-right: 10px;
}

.Invalid.ReactSelect {
  :global {
    .react-select__control {
      border: 2px solid var(--hot-pink);
    }
  }
}

.ReactSelect {
  :global {
    margin: 10px 0;

    .react-select__control {
      background-color: var(--lightest-background-purple);
      padding: 0;
      color: white;
      border: 2px solid transparent;

      &:hover {
        cursor: pointer;
      }
    }

    .react-select__control--is-focused,
    .react-select__control--is-focused:focus-within {
      border: 2px solid var(--light-blue);
    }

    .react-select__indicator-separator {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .react-select__indicator {
      color: white;
      &:focus,
      &:hover {
        color: white;
      }
    }

    /* inside the select */

    .react-select__menu {
      background-color: var(--lightest-background-purple);
    }

    .react-select__option--is-focused {
      background-color: var(--main-purple);
      outline: 2px solid rgba(255, 255, 255, 0.3);
    }

    .react-select__placeholder {
      color: white;
      opacity: 0.5;
      font-size: 0.9em;
    }

    .react-select__input {
      color: white;
    }

    .react-select__multi-value {
      background-color: var(--main-purple);
    }

    .react-select__multi-value__remove:hover {
      color: var(--hot-pink);
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
