.Fields {
  border: none;
}

.Container {
  margin-bottom: 40px;
}

.Label {
  font-weight: bold;
  font-size: 20px;
}

.Help {
  color: inherit;
  font-size: 13px;
}

.Control {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

.Text {
  width: calc(100% - 20px);
  border: 1px solid #ddd;
  margin-bottom: 40px;

  @media (prefers-color-scheme: dark) {
    background-color: #333;
    color: #fff;
    border: 1px solid #777;
  }
}

.Select {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 40px;
}

.Textarea {
  height: 150px;
  font-family: inherit;
}
