.Fields {
  border: none;
}

.Container {
  margin-bottom: 40px;
}

.Label {
  font-weight: bold;
  font-size: 20px;
}

.Help {
  color: inherit;
  font-size: 13px;
  margin-top: 5px;

  & a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      border-bottom: none;
    }
  }
}

.Control {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

.Text {
  width: calc(100% - 20px);
  margin-bottom: 40px;
}

.Select {
  width: 100%;
  margin-bottom: 40px;
}

.Textarea {
  height: 150px;
  font-family: inherit;
}
