.Fields {
  border: none;
  min-width: 0px;
  display: table-cell;
  padding: 0;
}

.RadioGroup {
  display: flex;
  flex-direction: column;
}

.Radio {
  margin: 10px 10px 10px 0;
}

.Container {
  margin-bottom: 40px;
  width: 100%;
}

.Label {
  font-weight: bold;
  font-size: 20px;
}

.Help {
  color: inherit;
  font-size: 13px;
  margin-top: 5px;

  & a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      border-bottom: none;
    }
  }
}

.ErrorMessage {
  display: flex;
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    aspect-ratio: 1/1;
    margin-top: 6px;

    border-radius: 100%;
    background-color: var(--hot-pink);
    display: inline-block;
    margin-right: 5px;
  }
}

.Placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.Control {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

.Text {
  height: 50px;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
}

.Select {
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.Textarea {
  height: 250px;
  font-family: inherit;
  resize: vertical;
  margin-top: 0;
}

.Markdown {
  height: 250px;
  overflow: auto;

  h1,
  h2,
  h3 {
    font-weight: 600;
    text-align: left;
    color: white;
    margin-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.25);
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--border-lightest-background);
    border-radius: 6px;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      height: 5px;
    }
  }

  code {
    padding: 0;
    margin: 0;
    background-color: var(--border-lightest-background);
    display: inline;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
  }
}
