@import "../../variables";

// --------------------------------------------------
// Homepage Hero
// --------------------------------------------------

// CSS rule order
// --------------------

// 1. Variables
// 2. Box model properties
// 3. Display and position
// 4. Background
// 5. Border
// 6. Box shadow
// 7. Text
// 8. Transforms
// 9. Other

.hero {
  justify-content: space-between;

  .button--primary,
  .button--secondary {
    display: block;
    margin-bottom: $spacing__s;
    @include breakpoint("m") {
      margin-bottom: 0;
      display: inline-flex;
    }
  }
  @include breakpoint("m") {
    margin-top: $spacing__l;
  }
}

.hero__wardens .hero__left-side {
  max-width: 30rem;
}

.hero__right-side {
  margin-top: $spacing__m;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
  align-items: center;
  justify-items: center;

  border-radius: $border-radius__l;
  overflow: hidden; // TODO This is for the border radius, but overflow:hidden is inaccessible. Find a better way to do this.

  @include breakpoint("s") {
    margin-top: $spacing__s;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @include breakpoint("m") {
    margin-top: $spacing__l;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.hero__statistic {
  padding: $spacing__l;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color__n-90;
  p {
    margin: 0;
  }
}

.hero__top-auditors {
  margin-top: $spacing__xxxl;
  padding: $spacing__l;
  background: $color__n-90;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: $spacing__s;
      margin-bottom: $spacing__s;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
