.MessageBar {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 3px 20px 0px rgb(0 0 0 / 25%);
  box-sizing: border-box;
  background-color: var(--main-purple);
}

.Message {
  margin: 8px;
}
