.Wrapper {
  position: relative;
}

.DropdownListContainer {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 3000ms;
  width: 180px;
  background: transparent;
  padding-top: 15px;

  &.Open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.DropdownList {
  background: var(--lightest-background-purple);
  border-radius: 5px;
  overflow: hidden;
}

.Button {
  background: var(--lightest-background-purple);
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 0;
  width: 100%;
  text-align: left;

  &:hover {
    background: var(--border-lightest-background);
  }
}
