@import "../styles/mixins.scss";

.Wrapper {
  position: relative;
}

.DropdownListContainer {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 300ms;
  width: 260px;
  background: transparent;
  padding-top: 15px;
  transform: translateY(-15px);
  z-index: -1;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.Open {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
  }
}

.DropdownList {
  background: var(--dark-purple);
  border-radius: 6px;
  padding: 10px;
  width: 100%;
}

.Button {
  @include button;
  color: #fff;
  width: 100%;
  background: var(--dark-purple);
  text-align: left;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  font-weight: normal;
  text-transform: none;

  &:hover {
    background: var(--main-purple);
  }
}

.DropdownIcon {
  stroke: currentColor;
  fill: currentColor;
  display: inline-flex;
  padding: 0;
  margin-left: 5px;
  &:hover {
    box-shadow: none;
  }

  &.Open {
    transform: rotate(-180deg);
    transition: transform 150ms ease;
  }
}
