.Wrapper {
  position: relative;
}

.DropdownListContainer {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 300ms;
  width: 180px;
  background: transparent;
  padding-top: 15px;
  transform: translateY(-15px);
  z-index: -1;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.Open {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
  }
}

.DropdownList {
  background: var(--lightest-background-purple);
  border-radius: 5px;
  overflow: hidden;
}

.Button {
  background: var(--lightest-background-purple);
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 0;
  width: 100%;
  text-align: left;

  &:hover {
    background: var(--border-lightest-background);
  }
}
