.DynamicInputGroup {
  p {
    font-size: 13px;
  }
}

.AddLineButton {
  cursor: pointer;
  background: none;
  border: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  display: inline-block;
  margin-top: 5px;

  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: "+";
    border: 2px solid white;
    border-radius: 50%;
    width: 24px;
    font-size: 17px;
    aspect-ratio: 1/1;
    margin-right: 10px;
    display: inline-block;
    line-height: 130%;
  }

  &:hover::before {
    text-decoration: none;
    background-color: var(--lightest-background-purple);
  }
}
