.InputWrapper {
  display: flex;
  padding: 0;
}

.DeleteButton {
  height: 36px;
  white-space: nowrap;
  align-self: center;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0 10px;
  margin-left: 3px;
  border-radius: 4px;

  &:hover {
    background: var(--lightest-background-purple);
    border: 2px solid white;
  }
}

.Control {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

.Text {
  height: 40px;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.Label {
  font-weight: bold;
  font-size: 20px;
  color: white;
  display: block;
}

.Help {
  color: inherit;
  font-size: 13px;
  margin-top: 5px;

  & a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      border-bottom: none;
    }
  }
}

// @todo: remove specificity and delete old input styles
// once all inputs use this component
input[type="text"].InputError,
.InputError {
  border: 2px solid var(--hot-pink);
}

.ErrorMessage {
  display: flex;
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    aspect-ratio: 1/1;
    margin-top: 6px;

    border-radius: 100%;
    background-color: var(--hot-pink);
    display: inline-block;
    margin-right: 5px;
  }
}
