.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.Icon {
  margin-right: 15px;
}

.Address {
  color: var(--light-purple);
  margin-left: 30px;
}

.Username {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
