.UserDropdownWrapper {
  display: inline-flex;
  padding-left: 15px;
  border-left: 3px solid var(--main-purple);
  margin-left: 10px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
}

.UserDropdown {
  display: inline-flex;
  position: relative;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.UserDropdownList {
  background: var(--lightest-background-purple);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-align: left;
}

.UserInfo {
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border-lightest-background);
}

.Avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Caret {
  padding-left: 5px;
}
