.UserDropdownWrapper {
  display: inline-flex;
  padding-left: 15px;
  border-left: 3px solid var(--main-purple);
  margin-left: 10px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
}

.UserDropdown {
  display: inline-flex;
  position: relative;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.UserDropdownList {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
}

.UserInfo {
  margin: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--main-purple);
}

.RegisterTeamAction {
  text-transform:capitalize;
  margin: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--main-purple);
  text-align: left;
  font-weight: 300;
}

.Avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Caret {
  padding-left: 5px;
}

.Desktop {
  @media (max-width: 970px) {
    display: none;
  }
}

.Mobile {
  @media (min-width: 970px) {
    display: none;
  }
  border-top: 2px solid var(--main-purple);
  width: 100%;
}

.MobileMenuItem {
  color: white;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  display: block;
  text-align: left;
  padding: 20px 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #efefef1a;
  width: 100%;
}

.Button {
  font-size: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--light-purple);
  }
}

.Icon {
  color: inherit;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}
