body {
    background-color: black;
}

div.copy {
    vertical-align: bottom;
    display: inline-block;
    margin-top: 150px;
    margin-left: 20%;
    line-height: 1.5;
    margin-right: 20%;
}

img {
    max-width: 100%;
    max-height: 50%;
    top: 100px;
    bottom: 0;
    display: block;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #FFFFFFaa;
    font-family: 'Roboto', sans-serif;
}

b {
    color: #fff;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: #fff
}

a:hover {
    color: #ff4000;
}

.button {
    border: none;
    box-shadow: 2px 2px 2px rgba(116, 116, 116, 0);
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: auto;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.cta-button {
    background-color: #8000FF;
    color: #fff !important;
}

.cta-button:hover {
    background-color: #ff4000;
}

div.copy div.text {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    text-align: center;
    letter-spacing: 2px;
    color: #fff !important;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
}