body {
  background-color: black;
}

body::after {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-image: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.13),
      rgba(255, 255, 255, 0.13) 1px,
      rgba(50, 05, 50, 0.15) 1px,
      1px,
      rgba(50, 50, 50, 0.15) 2px
    ),
    linear-gradient(
      167deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 60%,
      rgba(51, 0, 101, 1) 100%
    );
}

header {
  padding: 5px 20px;
}

.logo img {
  width: 130px;
  display: inline-block;
  margin: 5px 30px 5px 5px;
  position: absolute;
  left: 5px;
}

.wrapper-nav {
  position: relative;
  right: 5px;
}

header nav {
  position: absolute;
  right: 5px;
  text-align: right;
  display: block;
  vertical-align: top;
  padding: 5px 0;
}

nav a {
  text-align: right;
  margin: 0 10px;
  display: inline-block;
  color: white;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.hero {
  max-width: 1200px;
  margin: 150px auto 0 auto;
  display: block;
}

.hero h1 {
  font-size: 80px;
  text-shadow: 0 7px rgba(51, 0, 101, 1);
  margin: 0 0 60px 0;
}

.hero h1 span {
  display: inline-block;
}

section:first-of-type {
  margin-top: 0;
}

.wrapper-main {
  vertical-align: bottom;
  max-width: 1200px;
  margin: 20px auto;
  line-height: 1.5;
}

section {
  margin: 80px 0;
}

/* img {
  max-width: 100%;
  max-height: 50%;
  top: 100px;
  bottom: 0;
  display: block;
} */

h1 {
  color: white;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: #fff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h4 {
  color: #fff;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  font-weight: 200;
}

h4 a {
  font-weight: 800;
}

h5 {
  font-size: 30px;
  color: #fff;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin: 0 0 20px 0;
}

article h2 {
  margin-top: 60px;
  color: #fff;
  /* letter-spacing: 2px; */
  border-bottom: 1px solid #222;
  padding-bottom: 10px;
  text-transform: uppercase;
  font: 1.3rem Inconsolata, monospace;
}

article h2::before {
  content: "> ";
}

article h3 {
  margin-top: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font: 1.3rem Inconsolata, monospace;
}

p,
li {
  color: #ffffffaa;
  font-family: "Roboto", sans-serif;
}

li span {
  color: #fff;
}
li span::before {
  content: "(";
  color: #ffffff33;
}
li span::after {
  content: ")";
  color: #ffffff33;
}

ul {
  margin-bottom: 30px;
}

code {
  color: #ffffffaa;
  font-size: 18px;
}

strong {
  color: #ffffff;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: #ff4000;
  border-bottom: 1px solid #ff4000;
}

.definitions {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.definitions div {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px 10px 0;
}
.definitions div:last-child {
  margin-right: 0;
}

.definitions h3 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.active-contests {
  margin-top: 40px;
  border-radius: 10px;
  background: rgba(51, 0, 101, 0.3);
  box-shadow: 0 -1px 0px #5e507133, 0 1px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 10px 20px;
  grid-template-columns: 100px 1fr;
  display: grid;
}

.active-contests h4,
p {
  margin-top: 0;
}
.wardens {
  margin-top: 5px;
}
.wardens a {
  width: 40px;
  height: 40px;
  margin: 5px 5px 0 0;
  display: inline-block;
}

.wardens a {
  border: 2px solid #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
}
.wardens img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.wardens span {
  margin: 0;
  padding: 0;
}
/* 
.wardens h6 {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
} */

#countdown h5 {
  font-size: 25px;
  display: inline-block;
  margin: 10px 0;
}

#countdown h5 span {
  font-weight: 400;
}

.hours::after,
.minutes::after {
  content: ":";
  margin-left: 5px;
}

.wrapper-sponsor {
  margin: 10px 10px 10px 0;
  width: 80px;
}

.button {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(116, 116, 116, 0);
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  width: auto;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.cta-button {
  background-color: #8000ff;
  color: #fff;
  text-transform: uppercase;
}

.cta-button:hover {
  background-color: #ff4000;
  border-bottom: 0px;
}

footer {
  text-align: center;
  padding-bottom: 50px;
}

footer a,
footer span {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

footoer span::after,
footer a::after {
  color: #ffffff33;
  padding: 0 5px;
}

footer span::after,
footer a:nth-child(-n + 3)::after {
  content: " // ";
}

footer span::after {
  content: " »» ";
}

footer span {
  color: #ffffff33;
}

footer a:link {
  color: #fff;
}

footer a:hover {
  color: #ff4000 !important;
  border-bottom: 0px;
}

@media (max-width: 600px) {
  body {
    background-color: black;
    background-image: none;
  }

  header {
    padding: 5px 0 0 0;
  }

  header nav {
    position: static;
    right: auto;
    text-align: center;
  }

  .logo img {
    width: 200px;
    margin: 5px auto 10px auto;
    display: block;
    position: static;
    left: auto;
  }

  .hero {
    margin: 60px 10px 0 10px;
  }

  .hero h1 {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .wrapper-main {
    margin: 10px;
  }

  section {
    margin: 80px 0;
  }

  h5 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .definitions {
    display: block;
    margin: 0;
  }

  .definitions div {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    background-color: transparent;
  }

  .definitions h3,
  p {
    font-size: 16px;
    display: inline;
  }
  .definitions p {
    text-transform: lowercase;
  }

  .definitions div:last-child {
    margin-right: 0px;
  }

  .active-contests h4 {
    color: #fff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
  }
  #countdown h5 {
    font-size: 15px;
  }
  .active-contests p {
    font-size: 15px;
    padding-bottom: 30px;
  }
  footer span {
    display: none;
  }
}
