@import "../variables";

table {
  width: 100%;
  color: $color__text;
  background: $color__n-90;
  border: 1px solid $color__n-80;
  font-size: 12pt;
  border-collapse: collapse;
  overflow-x: auto;
}
table thead th,
table tfoot th {
  background: $color__n-80;
  color: $color__white;
  font-weight: 400;
}
table caption {
  padding: 0.5em;
}
table th,
table td {
  padding: 0.5em;
  border: 1px solid $color__n-80;
  text-align: left;
}

// Zebra striping
// -----------------

.table--zebra tbody tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05);
}

// Numbers
// -----------------

.table__cell--number {
  text-align: right;
  font-family: $font__code;
}
