@import "../variables";

// File instructions
// -----------------
// This file contains all the type rules for the site. It is imported by
// `base-layout.scss` and should not be imported anywhere else.

@font-face {
  font-family: "Satoshi Variable";
  src: url("./fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./fonts/Satoshi-Variable.woff") format("woff"),
    url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

// [Tip] Only set type rules here. For all other things `body`, check `base-layout`.
body {
  font-family: $font__default;
  font-size: 100%; // Set by the user's stylesheet. Assumed to be 16px.
  line-height: 150%;
}

a {
  color: $color__c4-button-blurple;
  @include accessible-animation {
    transition: color 0.2s ease-in-out;
  }

  &:hover {
    color: $color__n-20;
  }
}

// Type classes
// ------------------------------------------------

// Copy
// -----------------
// This is the default type style for the site. It is used for most of the copy.
// Adding a class of `type__copy` to a parent element will apply these styles.

.type__copy {
  font-size: 1.2rem;
  font-family: $font__default;
  font-weight: 500;
  line-height: 150%;
}
.type__copy-p,
.type__copy p {
  margin-bottom: 1.5em;
}
.type__copy__bold,
.type__copy strong {
  font-weight: 700;
}
.type__copy__inline-link,
.type__copy a {
  font-weight: 700;
  text-decoration: underline;
}
.type__copy__inline-code,
.type__copy code {
  padding: 0.1em 0.3em;
  border-radius: 0.2em;

  background-color: $color__n-80;
  color: $color__n-10;

  font-family: $font__code;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: inherit;
}

// Text
// -----------------
// This is the type style for the product. It's slightly smaller than the copy.
// Adding a class of `type__text` to a parent element will apply these styles.

.type__text {
  font-size: 1rem;
  font-family: $font__default;
  font-weight: 500;
  line-height: 130%;
}
.type__text-bold,
.type__text strong {
  font-weight: 700;
}
.type__text-inline-link,
.type__text a {
  font-weight: 700;
  text-decoration: underline;
}
.type__text-inline-code,
.type__text code {
  font-family: $font__code;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: inherit;
  background-color: $color__n-80;
  color: $color__n-10;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}

// Small
// -----------------

.type__small,
small {
  font-size: 0.933rem;
  font-family: $font__default;
  font-weight: 500;
  font-style: normal;
  line-height: 145%;
}
.type__small-bold,
.type__small strong {
  font-weight: 700;
}
.type__small-inline-link,
.type__small a {
  font-size: 0.933rem;
  font-weight: 700;
  text-decoration: underline;
}
.type__small-inline-code,
.type__small code {
  font-size: 0.933rem;
  font-family: "PT Mono";
  font-weight: 400;
  font-style: normal;
  line-height: 145%;
  background-color: $color__n-80;
  color: $color__n-10;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}

// Headings
// ------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
.type__xl-headline,
.type__l-headline,
.type__m-headline,
.type__s-headline,
.type__xs-headline,
.type__xxs-headline {
  margin-top: 0.25em;
  margin-bottom: 0.4em;
  font-family: $font__default;
  font-weight: 700;
  color: $color__headline;
}

// [Tip] When using headlines, use the `type__` classes instead of the `h` tags.
.type__xl-headline,
h1 {
  font-size: 3.067rem;
  line-height: 115%;

  @include breakpoint("m") {
    font-size: 3.467rem;
  }
}
.type__l-headline,
h2 {
  font-size: 2.533rem;
  line-height: 115%;

  @include breakpoint("m") {
    font-size: 3.067rem;
  }
}
.type__m-headline,
h3 {
  font-size: 1.867rem;
  line-height: 120%;

  @include breakpoint("m") {
    font-size: 2.533rem;
  }
}
.type__s-headline,
h4 {
  font-size: 1.6rem;
  line-height: 120%;

  @include breakpoint("m") {
    font-size: 1.867rem;
  }
}
.type__xs-headline,
h5 {
  font-size: 1.333rem;
  line-height: 120%;

  @include breakpoint("m") {
    font-size: 1.6rem;
  }
}
.type__xxs-headline,
h6 {
  font-size: 1.1rem;
  line-height: 130%;

  @include breakpoint("m") {
    font-size: 1.333rem;
  }
}

// Heroes
// ------------------------------------------------

.type__hero-headline {
  font-size: 3.067rem;
  font-family: $font__default;
  font-weight: 700;
  font-style: normal;
  line-height: 115%;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 0.3em;
  @include breakpoint("m") {
    font-size: 4rem;
  }
}
.type__hero-sub {
  font-size: 2.533rem;
  font-family: $font__default;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
  @include breakpoint("m") {
    font-size: 3.067rem;
  }
}

// Code
// ------------------------------------------------

code:has(pre) {
  font-family: $font__code;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  background-color: $color__n-80;
  color: $color__n-10;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}
